$icomoon-font-family: 'SalesHandy' !default;
$icomoon-font-path: 'fonts' !default;

$sh-accessible: '\ec07';
$sh-activity: '\ec08';
$sh-ad: '\ec09';
$sh-adjustments: '\ec0a';
$sh-alarm: '\ec0b';
$sh-alert-circle: '\ec0c';
$sh-alert-triangle: '\ec0d';
$sh-alien: '\ec0e';
$sh-align-center: '\ec0f';
$sh-align-justified: '\ec10';
$sh-align-left: '\ec11';
$sh-align-right: '\ec12';
$sh-anchor: '\ec13';
$sh-aperture: '\ec14';
$sh-apps: '\ec15';
$sh-archive: '\ec16';
$sh-arrow-back: '\ec17';
$sh-arrow-back-up: '\ec18';
$sh-arrow-bar-down: '\ec19';
$sh-arrow-bar-left: '\ec1a';
$sh-arrow-bar-right: '\ec1b';
$sh-arrow-bar-up: '\ec1c';
$sh-arrow-down: '\ec1d';
$sh-arrow-down-circle: '\ec1e';
$sh-arrow-down-left: '\ec1f';
$sh-arrow-down-left-circle: '\ec20';
$sh-arrow-down-right: '\ec21';
$sh-arrow-down-right-circle: '\ec22';
$sh-arrow-forward: '\ec23';
$sh-arrow-forward-up: '\ec24';
$sh-arrow-left: '\ec25';
$sh-arrow-left-circle: '\ec26';
$sh-arrow-narrow-down: '\ec27';
$sh-arrow-narrow-left: '\ec28';
$sh-arrow-narrow-right: '\ec29';
$sh-arrow-narrow-up: '\ec2a';
$sh-arrow-right: '\ec2b';
$sh-arrow-right-circle: '\ec2c';
$sh-arrows-diagonal: '\ec2d';
$sh-arrows-diagonal-2: '\ec2e';
$sh-arrows-horizontal: '\ec2f';
$sh-arrows-maximize: '\ec30';
$sh-arrows-minimize: '\ec31';
$sh-arrows-sort: '\ec32';
$sh-arrows-vertical: '\ec33';
$sh-arrow-up: '\ec34';
$sh-arrow-up-circle: '\ec35';
$sh-arrow-up-left: '\ec36';
$sh-arrow-up-left-circle: '\ec37';
$sh-arrow-up-right: '\ec38';
$sh-arrow-up-right-circle: '\ec39';
$sh-artboard: '\ec3a';
$sh-at: '\ec3b';
$sh-atom: '\ec3c';
$sh-atom-2: '\ec3d';
$sh-award: '\ec3e';
$sh-backspace: '\ec3f';
$sh-ban: '\ec40';
$sh-bandage: '\ec41';
$sh-barcode: '\ec42';
$sh-basket: '\ec43';
$sh-basketball: '\ec44';
$sh-battery-1: '\ec45';
$sh-battery-2: '\ec46';
$sh-battery-3: '\ec47';
$sh-battery-4: '\ec48';
$sh-bed: '\ec49';
$sh-bell: '\ec4a';
$sh-bluetooth: '\ec4b';
$sh-bold: '\ec4c';
$sh-bolt: '\ec4d';
$sh-book: '\ec4e';
$sh-bookmark: '\ec4f';
$sh-border-all: '\ec50';
$sh-border-bottom: '\ec51';
$sh-border-horizontal: '\ec52';
$sh-border-inner: '\ec53';
$sh-border-left: '\ec54';
$sh-border-none: '\ec55';
$sh-border-outer: '\ec56';
$sh-border-radius: '\ec57';
$sh-border-right: '\ec58';
$sh-border-top: '\ec59';
$sh-border-vertical: '\ec5a';
$sh-bowling: '\ec5b';
$sh-box: '\ec5c';
$sh-braces: '\ec5d';
$sh-brackets: '\ec5e';
$sh-briefcase: '\ec5f';
$sh-brightness: '\ec60';
$sh-brightness-down: '\ec61';
$sh-brightness-up: '\ec62';
$sh-browser: '\ec63';
$sh-brush: '\ec64';
$sh-bucket: '\ec65';
$sh-bug: '\ec66';
$sh-bulb: '\ec67';
$sh-bulb-off: '\ec68';
$sh-bullet: '\ec69';
$sh-calculator: '\ec6a';
$sh-calendar: '\ec6b';
$sh-calendar-event: '\ec6c';
$sh-calendar-minus: '\ec6d';
$sh-calendar-plus: '\ec6e';
$sh-camera: '\ec6f';
$sh-caret-down: '\ec70';
$sh-caret-down-fill: '\ec71';
$sh-caret-left: '\ec72';
$sh-caret-left-fill: '\ec73';
$sh-caret-right: '\ec74';
$sh-caret-right-fill: '\ec75';
$sh-caret-up: '\ec76';
$sh-caret-up-fill: '\ec77';
$sh-cash: '\ec78';
$sh-cast: '\ec79';
$sh-charging: '\ec7a';
$sh-chart-area: '\ec7b';
$sh-chart-area-line: '\ec7c';
$sh-chart-bar: '\ec7d';
$sh-chart-candle: '\ec7e';
$sh-chart-donut: '\ec7f';
$sh-chart-line: '\ec80';
$sh-chart-pie: '\ec81';
$sh-check: '\ec82';
$sh-checkbox: '\ec83';
$sh-checklist: '\ec84';
$sh-checks: '\ec85';
$sh-chevron-down: '\ec86';
$sh-chevron-left: '\ec87';
$sh-chevron-right: '\ec88';
$sh-chevrons-down: '\ec89';
$sh-chevrons-left: '\ec8a';
$sh-chevrons-right: '\ec8b';
$sh-chevrons-up: '\ec8c';
$sh-chevron-up: '\ec8d';
$sh-circle: '\ec8e';
$sh-circle-check: '\ec8f';
$sh-circle-minus: '\ec90';
$sh-circle-plus: '\ec91';
$sh-circle-x: '\ec92';
$sh-clear-formatting: '\ec93';
$sh-click: '\ec94';
$sh-clipboard: '\ec95';
$sh-clipboard-check: '\ec96';
$sh-clipboard-list: '\ec97';
$sh-clipboard-x: '\ec98';
$sh-clock: '\ec99';
$sh-cloud: '\ec9a';
$sh-cloud-download: '\ec9b';
$sh-cloud-rain: '\ec9c';
$sh-cloud-snow: '\ec9d';
$sh-cloud-storm: '\ec9e';
$sh-cloud-upload: '\ec9f';
$sh-code: '\eca0';
$sh-coin: '\eca1';
$sh-color-picker: '\eca2';
$sh-color-swatch: '\eca3';
$sh-columns: '\eca4';
$sh-command: '\eca5';
$sh-compass: '\eca6';
$sh-copy: '\eca7';
$sh-copyright: '\eca8';
$sh-corner-down-left: '\eca9';
$sh-corner-down-right: '\ecaa';
$sh-corner-left-down: '\ecab';
$sh-corner-left-up: '\ecac';
$sh-corner-right-down: '\ecad';
$sh-corner-right-up: '\ecae';
$sh-corner-up-left: '\ecaf';
$sh-corner-up-right: '\ecb0';
$sh-credit-card1: '\ecb1';
$sh-crop: '\ecb2';
$sh-cross: '\ecb3';
$sh-currency-bitcoin: '\ecb4';
$sh-currency-dollar: '\ecb5';
$sh-currency-euro: '\ecb6';
$sh-currency-pound: '\ecb7';
$sh-currency-rupee: '\ecb8';
$sh-currency-yen: '\ecb9';
$sh-cut: '\ecba';
$sh-dashboard: '\ecbb';
$sh-database: '\ecbc';
$sh-device-desktop: '\ecbd';
$sh-device-floppy: '\ecbe';
$sh-device-gamepad: '\ecbf';
$sh-device-laptop: '\ecc0';
$sh-device-mobile: '\ecc1';
$sh-device-mobile-vibration: '\ecc2';
$sh-devices: '\ecc3';
$sh-device-speaker: '\ecc4';
$sh-device-tablet: '\ecc5';
$sh-device-tv: '\ecc6';
$sh-device-watch: '\ecc7';
$sh-diamond: '\ecc8';
$sh-dice: '\ecc9';
$sh-direction-horizontal: '\ecca';
$sh-directions: '\eccb';
$sh-direction-vertical: '\eccc';
$sh-disabled: '\eccd';
$sh-disc: '\ecce';
$sh-discount: '\eccf';
$sh-dislike: '\ecd0';
$sh-dots: '\ecd1';
$sh-dots-circle-horizontal: '\ecd2';
$sh-dots-diagonal: '\ecd3';
$sh-dots-diagonal-2: '\ecd4';
$sh-dots-vertical: '\ecd5';
$sh-download: '\ecd6';
$sh-drag-drop: '\ecd7';
$sh-drag-drop-2: '\ecd8';
$sh-droplet: '\ecd9';
$sh-ear: '\ecda';
$sh-edit: '\ecdb';
$sh-egg: '\ecdc';
$sh-empty: '\ecdd';
$sh-eraser: '\ecde';
$sh-exchange: '\ecdf';
$sh-exposure: '\ece0';
$sh-external-link: '\ece1';
$sh-eye: '\ece2';
$sh-face-id: '\ece3';
$sh-file: '\ece4';
$sh-file-check: '\ece5';
$sh-file-code: '\ece6';
$sh-file-download: '\ece7';
$sh-file-horizontal: '\ece8';
$sh-file-invoice: '\ece9';
$sh-file-minus: '\ecea';
$sh-file-music: '\eceb';
$sh-file-plus: '\ecec';
$sh-file-shredder: '\eced';
$sh-file-text: '\ecee';
$sh-file-x: '\ecef';
$sh-filter: '\ecf0';
$sh-fingerprint: '\ecf1';
$sh-flag: '\ecf2';
$sh-flask: '\ecf3';
$sh-flip-horizontal: '\ecf4';
$sh-flip-vertical: '\ecf5';
$sh-float-center: '\ecf6';
$sh-float-left: '\ecf7';
$sh-float-right: '\ecf8';
$sh-floppy-disk: '\ecf9';
$sh-focus: '\ecfa';
$sh-focus-2: '\ecfb';
$sh-folder: '\ecfc';
$sh-folder-minus: '\ecfd';
$sh-folder-plus: '\ecfe';
$sh-folders: '\ecff';
$sh-folder-x: '\ed00';
$sh-forbid: '\ed01';
$sh-frame: '\ed02';
$sh-friends: '\ed03';
$sh-gauge: '\ed04';
$sh-ghost: '\ed05';
$sh-gift: '\ed06';
$sh-git-branch: '\ed07';
$sh-git-commit: '\ed08';
$sh-git-compare: '\ed09';
$sh-git-fork: '\ed0a';
$sh-git-merge: '\ed0b';
$sh-git-pull-request: '\ed0c';
$sh-glass: '\ed0d';
$sh-glass-full: '\ed0e';
$sh-globe: '\ed0f';
$sh-grid: '\ed10';
$sh-grid-dots: '\ed11';
$sh-grip-horizontal: '\ed12';
$sh-grip-vertical: '\ed13';
$sh-hand-middle-finger: '\ed14';
$sh-hand-stop: '\ed15';
$sh-hash: '\ed16';
$sh-headphones: '\ed17';
$sh-headset: '\ed18';
$sh-heart: '\ed19';
$sh-help: '\ed1a';
$sh-hexagon: '\ed1b';
$sh-history: '\ed1c';
$sh-home: '\ed1d';
$sh-home-2: '\ed1e';
$sh-ice-cream: '\ed1f';
$sh-id: '\ed20';
$sh-inbox: '\ed21';
$sh-indent-decrease: '\ed22';
$sh-indent-increase: '\ed23';
$sh-infinity: '\ed24';
$sh-info-circle: '\ed25';
$sh-info-square: '\ed26';
$sh-italic: '\ed27';
$sh-key: '\ed28';
$sh-keyboard: '\ed29';
$sh-language: '\ed2a';
$sh-layers-difference: '\ed2b';
$sh-layers-intersect: '\ed2c';
$sh-layers-subtract: '\ed2d';
$sh-layers-union: '\ed2e';
$sh-layout: '\ed2f';
$sh-layout-2: '\ed30';
$sh-layout-align-bottom: '\ed31';
$sh-layout-align-center: '\ed32';
$sh-layout-align-left: '\ed33';
$sh-layout-align-middle: '\ed34';
$sh-layout-align-right: '\ed35';
$sh-layout-align-top: '\ed36';
$sh-layout-bottombar: '\ed37';
$sh-layout-cards: '\ed38';
$sh-layout-columns: '\ed39';
$sh-layout-distribute-horizontal: '\ed3a';
$sh-layout-distribute-vertical: '\ed3b';
$sh-layout-list: '\ed3c';
$sh-layout-navbar: '\ed3d';
$sh-layout-rows: '\ed3e';
$sh-layout-sidebar: '\ed3f';
$sh-layout-sidebar-right: '\ed40';
$sh-layout-tabel: '\ed41';
$sh-lego: '\ed42';
$sh-letter-case: '\ed43';
$sh-lifebuoy: '\ed44';
$sh-like: '\ed45';
$sh-line-height: '\ed46';
$sh-link: '\ed47';
$sh-live-photo: '\ed48';
$sh-location: '\ed49';
$sh-lock: '\ed4a';
$sh-lock-open: '\ed4b';
$sh-login: '\ed4c';
$sh-logout: '\ed4d';
$sh-magnet: '\ed4e';
$sh-mail: '\ed4f';
$sh-mail-opened: '\ed50';
$sh-man: '\ed51';
$sh-map: '\ed52';
$sh-map-2: '\ed53';
$sh-map-pin: '\ed54';
$sh-math: '\ed55';
$sh-maximize: '\ed56';
$sh-menu: '\ed57';
$sh-message: '\ed58';
$sh-message-2: '\ed59';
$sh-message-circle: '\ed5a';
$sh-message-dots: '\ed5b';
$sh-messages: '\ed5c';
$sh-microphone: '\ed5d';
$sh-minimize: '\ed5e';
$sh-minus: '\ed5f';
$sh-mist: '\ed60';
$sh-mood-confuzed: '\ed61';
$sh-mood-happy: '\ed62';
$sh-mood-kid: '\ed63';
$sh-mood-neutral: '\ed64';
$sh-mood-sad: '\ed65';
$sh-mood-smile: '\ed66';
$sh-mood-suprised: '\ed67';
$sh-mood-tongue: '\ed68';
$sh-moon: '\ed69';
$sh-mouse: '\ed6a';
$sh-movie: '\ed6b';
$sh-mug: '\ed6c';
$sh-music: '\ed6d';
$sh-news: '\ed6e';
$sh-new-section: '\ed6f';
$sh-note: '\ed70';
$sh-notebook: '\ed71';
$sh-notes: '\ed72';
$sh-notification: '\ed73';
$sh-omega: '\ed74';
$sh-outlet: '\ed75';
$sh-package: '\ed76';
$sh-paint: '\ed77';
$sh-palette: '\ed78';
$sh-paperclip: '\ed79';
$sh-parentheses: '\ed7a';
$sh-parking: '\ed7b';
$sh-pencil: '\ed7c';
$sh-phone: '\ed7d';
$sh-phone-1: '\ed7e';
$sh-phone-2: '\ed7f';
$sh-phone-3: '\ed80';
$sh-phone-4: '\ed81';
$sh-phone-5: '\ed82';
$sh-phone-6: '\ed83';
$sh-phone-7: '\ed84';
$sh-photo: '\ed85';
$sh-pillow: '\ed86';
$sh-planet: '\ed87';
$sh-plug: '\ed88';
$sh-plus: '\ed89';
$sh-point: '\ed8a';
$sh-power: '\ed8b';
$sh-presentation: '\ed8c';
$sh-printer: '\ed8d';
$sh-prompt: '\ed8e';
$sh-puzzle: '\ed8f';
$sh-qrcode: '\ed90';
$sh-record-mail: '\ed91';
$sh-recycle: '\ed92';
$sh-refresh: '\ed93';
$sh-registered: '\ed94';
$sh-repeat: '\ed95';
$sh-repeat-once: '\ed96';
$sh-replace: '\ed97';
$sh-rotate: '\ed98';
$sh-rotate-2: '\ed99';
$sh-rotate-clockwise: '\ed9a';
$sh-rotate-clockwise-2: '\ed9b';
$sh-rotate-rectangle: '\ed9c';
$sh-route: '\ed9d';
$sh-router: '\ed9e';
$sh-rss: '\ed9f';
$sh-ruler: '\eda0';
$sh-scale: '\eda1';
$sh-scan: '\eda2';
$sh-scissors: '\eda3';
$sh-search: '\eda4';
$sh-selector: '\eda5';
$sh-send: '\eda6';
$sh-separator: '\eda7';
$sh-server: '\eda8';
$sh-servicemark: '\eda9';
$sh-shape: '\edaa';
$sh-share: '\edab';
$sh-shield: '\edac';
$sh-shield-check: '\edad';
$sh-shield-x: '\edae';
$sh-shirt: '\edaf';
$sh-shopping-cart: '\edb0';
$sh-sitemap: '\edb1';
$sh-slice: '\edb2';
$sh-slideshow: '\edb3';
$sh-snowflake: '\edb4';
$sh-social: '\edb5';
$sh-sort-ascending: '\edb6';
$sh-sort-descending: '\edb7';
$sh-space: '\edb8';
$sh-square: '\edb9';
$sh-square-check: '\edba';
$sh-square-minus: '\edbb';
$sh-square-plus: '\edbc';
$sh-square-x: '\edbd';
$sh-stack: '\edbe';
$sh-star-outline: '\edbf';
$sh-sticker: '\edc0';
$sh-strikethrough: '\edc1';
$sh-subscript: '\edc2';
$sh-sum: '\edc3';
$sh-sun: '\edc4';
$sh-sunset: '\edc5';
$sh-sunshine: '\edc6';
$sh-superscript: '\edc7';
$sh-switch: '\edc8';
$sh-switch-horizontal: '\edc9';
$sh-switch-vertical: '\edca';
$sh-table: '\edcb';
$sh-tag: '\edcc';
$sh-target: '\edcd';
$sh-tax: '\edce';
$sh-temperature: '\edcf';
$sh-temperature-celsius: '\edd0';
$sh-temperature-fahrenheit: '\edd1';
$sh-temperature-minus: '\edd2';
$sh-temperature-plus: '\edd3';
$sh-template: '\edd4';
$sh-tennis: '\edd5';
$sh-terminal: '\edd6';
$sh-terminal-2: '\edd7';
$sh-test-pipe: '\edd8';
$sh-text_color: '\edd9';
$sh-text_highlight: '\edda';
$sh-text-wrap: '\eddb';
$sh-ticket: '\eddc';
$sh-toggle-left: '\eddd';
$sh-toggle-right: '\edde';
$sh-tool: '\eddf';
$sh-tools: '\ede0';
$sh-trademark: '\ede1';
$sh-traffic-cone: '\ede2';
$sh-trash: '\ede3';
$sh-trees: '\ede4';
$sh-trending-down: '\ede5';
$sh-trending-up: '\ede6';
$sh-triangle: '\ede7';
$sh-trophy: '\ede8';
$sh-typography: '\ede9';
$sh-umbrella: '\edea';
$sh-underline: '\edeb';
$sh-unlink: '\edec';
$sh-upload: '\eded';
$sh-urgent: '\edee';
$sh-user: '\edef';
$sh-user_list: '\edf0';
$sh-user-1: '\edf1';
$sh-user-check: '\edf2';
$sh-user-exclamation: '\edf3';
$sh-user-minus: '\edf4';
$sh-user-plus: '\edf5';
$sh-users: '\edf6';
$sh-user-x: '\edf7';
$sh-viewfinder: '\edf8';
$sh-viewport-narrow: '\edf9';
$sh-viewport-wide: '\edfa';
$sh-virus: '\edfb';
$sh-volleyball: '\edfc';
$sh-volume: '\edfd';
$sh-volume-2: '\edfe';
$sh-volume-3: '\edff';
$sh-wallet: '\ee00';
$sh-wand: '\ee01';
$sh-wifi: '\ee02';
$sh-wifi-0: '\ee03';
$sh-wifi-1: '\ee04';
$sh-wifi-2: '\ee05';
$sh-wind: '\ee06';
$sh-woman: '\ee07';
$sh-world: '\ee08';
$sh-yin-yang: '\ee09';
$sh-zoom-in: '\ee0a';
$sh-zoom-out: '\ee0b';
$sh-prospects: '\ec06';
$sh-curly-braces: '\ebff';
$sh-warning-hexagone: '\ebf4';
$sh-warning: '\ebf5';
$sh-alarm1: '\e900';
$sh-battery: '\e901';
$sh-battery-empty: '\e902';
$sh-battery-full: '\e903';
$sh-bell1: '\e904';
$sh-bolt1: '\e905';
$sh-bulb1: '\e906';
$sh-calendar1: '\e907';
$sh-calendar-dates: '\e908';
$sh-calendar-due: '\e909';
$sh-calendar-next: '\e90a';
$sh-calendar-today: '\e90b';
$sh-calendar-two: '\e90c';
$sh-danger: '\e90d';
$sh-info: '\e90e';
$sh-phone1: '\e90f';
$sh-caret-up1: '\ebf6';
$sh-caret-down1: '\ebf7';
$sh-caret-right1: '\ebf8';
$sh-caret-left1: '\ebf9';
$sh-arrow-align-h: '\e910';
$sh-arrow-align-v: '\e911';
$sh-arrow-bottom-left: '\e912';
$sh-arrow-bottom-left-o: '\e913';
$sh-arrow-bottom-left-r: '\e914';
$sh-arrow-bottom-right: '\e915';
$sh-arrow-bottom-right-o: '\e916';
$sh-arrow-bottom-right-r: '\e917';
$sh-arrow-down1: '\e918';
$sh-arrow-down-o: '\e919';
$sh-arrow-down-r: '\e91a';
$sh-arrow-left1: '\e91b';
$sh-arrow-left-o: '\e91c';
$sh-arrow-left-r: '\e91d';
$sh-arrow-long-down: '\e91e';
$sh-arrow-long-down-c: '\e91f';
$sh-arrow-long-down-e: '\e920';
$sh-arrow-long-down-l: '\e921';
$sh-arrow-long-down-r: '\e922';
$sh-arrow-long-left: '\e923';
$sh-arrow-long-left-c: '\e924';
$sh-arrow-long-left-e: '\e925';
$sh-arrow-long-left-l: '\e926';
$sh-arrow-long-left-r: '\e927';
$sh-arrow-long-right: '\e928';
$sh-arrow-long-right-c: '\e929';
$sh-arrow-long-right-e: '\e92a';
$sh-arrow-long-right-l: '\e92b';
$sh-arrow-long-right-r: '\e92c';
$sh-arrow-long-up: '\e92d';
$sh-arrow-long-up-c: '\e92e';
$sh-arrow-long-up-e: '\e92f';
$sh-arrow-long-up-l: '\e930';
$sh-arrow-long-up-r: '\e931';
$sh-arrow-right1: '\e932';
$sh-arrow-right-o: '\e933';
$sh-arrow-right-r: '\e934';
$sh-arrows-breake-h: '\e935';
$sh-arrows-breake-v: '\e936';
$sh-arrows-exchange: '\e937';
$sh-arrows-exchange-alt: '\e938';
$sh-arrows-exchange-alt-v: '\e939';
$sh-arrows-exchange-v: '\e93a';
$sh-arrows-expand-down-left: '\e93b';
$sh-arrows-expand-down-right: '\e93c';
$sh-arrows-expand-left: '\e93d';
$sh-arrows-expand-left-alt: '\e93e';
$sh-arrows-expand-right: '\e93f';
$sh-arrows-expand-right-alt: '\e940';
$sh-arrows-expand-up-left: '\e941';
$sh-arrows-expand-up-right: '\e942';
$sh-arrows-h: '\e943';
$sh-arrows-h-alt: '\e944';
$sh-arrows-merge-alt-h: '\e945';
$sh-arrows-merge-alt-v: '\e946';
$sh-arrows-scroll-h: '\e947';
$sh-arrows-scroll-v: '\e948';
$sh-arrows-shrink-h: '\e949';
$sh-arrows-shrink-v: '\e94a';
$sh-arrows-v: '\e94b';
$sh-arrows-v-alt: '\e94c';
$sh-arrow-top-left: '\e94d';
$sh-arrow-top-left-o: '\e94e';
$sh-arrow-top-left-r: '\e94f';
$sh-arrow-top-right: '\e950';
$sh-arrow-top-right-o: '\e951';
$sh-arrow-top-right-r: '\e952';
$sh-arrow-up1: '\e953';
$sh-arrow-up-o: '\e954';
$sh-arrow-up-r: '\e955';
$sh-check1: '\e956';
$sh-check-o: '\e957';
$sh-check-r: '\e958';
$sh-compress: '\e959';
$sh-compress-left: '\e95a';
$sh-compress-right: '\e95b';
$sh-compress-v: '\e95c';
$sh-corner-double-down-left: '\e95d';
$sh-corner-double-down-right: '\e95e';
$sh-corner-double-left-down: '\e95f';
$sh-corner-double-left-up: '\e960';
$sh-corner-double-right-down: '\e961';
$sh-corner-double-right-up: '\e962';
$sh-corner-double-up-left: '\e963';
$sh-corner-double-up-right: '\e964';
$sh-corner-down-left1: '\e965';
$sh-corner-down-right1: '\e966';
$sh-corner-left-down1: '\e967';
$sh-corner-left-up1: '\e968';
$sh-corner-right-down1: '\e969';
$sh-corner-right-up1: '\e96a';
$sh-corner-up-left1: '\e96b';
$sh-corner-up-right1: '\e96c';
$sh-enter: '\e96d';
$sh-expand: '\e96e';
$sh-export: '\e96f';
$sh-import: '\e970';
$sh-internal: '\e971';
$sh-merge-horizontal: '\e972';
$sh-merge-vertical: '\e973';
$sh-minimize1: '\e974';
$sh-minimize-alt: '\e975';
$sh-move-down: '\e976';
$sh-move-left: '\e977';
$sh-move-right: '\e978';
$sh-move-task: '\e979';
$sh-move-up: '\e97a';
$sh-push-down: '\e97b';
$sh-push-left: '\e97c';
$sh-push-right: '\e97d';
$sh-push-up: '\e97e';
$sh-redo: '\e97f';
$sh-repeat1: '\e980';
$sh-scroll-h: '\e981';
$sh-scroll-v: '\e982';
$sh-select: '\e983';
$sh-select-o: '\e984';
$sh-select-r: '\e985';
$sh-swap: '\e986';
$sh-swap-vertical: '\e987';
$sh-sync: '\e988';
$sh-trending: '\e989';
$sh-trending-down1: '\e98a';
$sh-undo: '\e98b';
$sh-abstract: '\e98c';
$sh-adidas: '\e98d';
$sh-atlasian-path1: '\e98e';
$sh-atlasian-path2: '\e98f';
$sh-bmw: '\e990';
$sh-brackets1: '\e991';
$sh-chanel: '\e992';
$sh-circleci: '\e993';
$sh-code-climate: '\e994';
$sh-comedy-central: '\e995';
$sh-crowdfire: '\e996';
$sh-designmodo: '\e997';
$sh-digitalocean: '\e998';
$sh-dolby: '\e999';
$sh-dribbble: '\e99a';
$sh-eventbrite: '\e99b';
$sh-facebook: '\e99c';
$sh-figma: '\e99d';
$sh-framer-path1: '\e99e';
$sh-framer-path2: '\e99f';
$sh-ghost1: '\e9a0';
$sh-gitter: '\e9a1';
$sh-google: '\e9a2';
$sh-google-tasks: '\e9a3';
$sh-hello: '\e9a4';
$sh-if-design: '\e9a5';
$sh-indie-hackers: '\e9a6';
$sh-instagram: '\e9a7';
$sh-lastpass: '\e9a8';
$sh-linear: '\e9a9';
$sh-maze: '\e9aa';
$sh-microbit: '\e9ab';
$sh-microsoft: '\e9ac';
$sh-monday: '\e9ad';
$sh-npm: '\e9ae';
$sh-oculus: '\e9af';
$sh-overflow-path1: '\e9b0';
$sh-overflow-path2: '\e9b1';
$sh-overflow-path3: '\e9b2';
$sh-pacman: '\e9b3';
$sh-patreon-path1: '\e9b4';
$sh-patreon-path2: '\e9b5';
$sh-paypal: '\e9b6';
$sh-pexels: '\e9b7';
$sh-pocket: '\e9b8';
$sh-pokemon: '\e9b9';
$sh-product-hunt: '\e9ba';
$sh-serverless: '\e9bb';
$sh-shutterstock: '\e9bc';
$sh-sketch: '\e9bd';
$sh-slack: '\e9be';
$sh-spectrum: '\e9bf';
$sh-square1: '\e9c0';
$sh-stark: '\e9c1';
$sh-studio: '\e9c2';
$sh-sweden: '\e9c3';
$sh-swiss: '\e9c4';
$sh-tally: '\e9c5';
$sh-trello: '\e9c6';
$sh-twilio: '\e9c7';
$sh-twitter: '\e9c8';
$sh-unfold: '\e9c9';
$sh-unsplash: '\e9ca';
$sh-userlane: '\e9cb';
$sh-windows: '\e9cc';
$sh-youtube: '\e9cd';
$sh-zeit: '\e9ce';
$sh-filter1: '\ebfa';
$sh-add: '\e9cf';
$sh-add-r: '\e9d0';
$sh-assign: '\e9d1';
$sh-backspace1: '\e9d2';
$sh-bookmark1: '\e9d3';
$sh-captions: '\e9d4';
$sh-close-o: '\e9d5';
$sh-close-r: '\e9d6';
$sh-feed-path1: '\e9d7';
$sh-feed-path2: '\e9d8';
$sh-feed-path3: '\e9d9';
$sh-feed-path4: '\e9da';
$sh-feed-path5: '\e9db';
$sh-feed-path6: '\e9dc';
$sh-flag1: '\e9dd';
$sh-inbox1: '\e9de';
$sh-lock1: '\e9df';
$sh-lock-unlock: '\e9e0';
$sh-log-in: '\e9e1';
$sh-log-off: '\e9e2';
$sh-log-out: '\e9e3';
$sh-menu1: '\e9e4';
$sh-menu-left: '\e9e5';
$sh-menu-right: '\e9e6';
$sh-more: '\e9e7';
$sh-more-alt: '\e9e8';
$sh-more-o: '\e9e9';
$sh-more-r: '\e9ea';
$sh-more-vertical: '\e9eb';
$sh-more-vertical-alt: '\e9ec';
$sh-more-vertical-o: '\e9ed';
$sh-more-vertical-r: '\e9ee';
$sh-play-pause: '\e9ef';
$sh-play-pause-o: '\e9f0';
$sh-play-pause-r: '\e9f1';
$sh-play-stop: '\e9f2';
$sh-play-stop-o: '\e9f3';
$sh-play-stop-r: '\e9f4';
$sh-printer1: '\e9f5';
$sh-read: '\e9f6';
$sh-share1: '\e9f7';
$sh-shortcut: '\e9f8';
$sh-size: '\e9f9';
$sh-software-download: '\e9fa';
$sh-software-upload: '\e9fb';
$sh-sort-az: '\e9fc';
$sh-sort-za: '\e9fd';
$sh-square11: '\e9fe';
$sh-toggle-off: '\e9ff';
$sh-toggle-on: '\ea00';
$sh-toggle-square: '\ea01';
$sh-toggle-square-off: '\ea02';
$sh-chevron-double-down: '\ea03';
$sh-chevron-double-down-o: '\ea04';
$sh-chevron-double-down-r: '\ea05';
$sh-chevron-double-left: '\ea06';
$sh-chevron-double-left-o: '\ea07';
$sh-chevron-double-left-r: '\ea08';
$sh-chevron-double-right: '\ea09';
$sh-chevron-double-right-o: '\ea0a';
$sh-chevron-double-right-r: '\ea0b';
$sh-chevron-double-up: '\ea0c';
$sh-chevron-double-up-o: '\ea0d';
$sh-chevron-double-up-r: '\ea0e';
$sh-chevron-down1: '\ea0f';
$sh-chevron-down-o: '\ea10';
$sh-chevron-down-r: '\ea11';
$sh-chevron-left1: '\ea12';
$sh-chevron-left-o: '\ea13';
$sh-chevron-left-r: '\ea14';
$sh-chevron-right1: '\ea15';
$sh-chevron-right-o: '\ea16';
$sh-chevron-right-r: '\ea17';
$sh-chevron-up1: '\ea18';
$sh-chevron-up-o: '\ea19';
$sh-chevron-up-r: '\ea1a';
$sh-push-chevron-down: '\ea1b';
$sh-push-chevron-down-o: '\ea1c';
$sh-push-chevron-down-r: '\ea1d';
$sh-push-chevron-left: '\ea1e';
$sh-push-chevron-left-o: '\ea1f';
$sh-push-chevron-left-r: '\ea20';
$sh-push-chevron-right: '\ea21';
$sh-push-chevron-right-o: '\ea22';
$sh-push-chevron-right-r: '\ea23';
$sh-push-chevron-up: '\ea24';
$sh-push-chevron-up-o: '\ea25';
$sh-push-chevron-up-r: '\ea26';
$sh-code1: '\ea27';
$sh-code-slash: '\ea28';
$sh-c-plus-plus: '\ea29';
$sh-git-branch1: '\ea2a';
$sh-git-commit1: '\ea2b';
$sh-git-fork1: '\ea2c';
$sh-git-pull: '\ea2d';
$sh-hashtag: '\ea2e';
$sh-remote: '\ea2f';
$sh-terminal1: '\ea30';
$sh-align-bottom-path1: '\ea31';
$sh-align-bottom-path2: '\ea32';
$sh-align-bottom-path3: '\ea33';
$sh-align-center1-path1: '\ea34';
$sh-align-center1-path2: '\ea35';
$sh-align-left1-path1: '\ea36';
$sh-align-left1-path2: '\ea37';
$sh-align-left1-path3: '\ea38';
$sh-align-middle-path1: '\ea39';
$sh-align-middle-path2: '\ea3a';
$sh-align-right1-path1: '\ea3b';
$sh-align-right1-path2: '\ea3c';
$sh-align-right1-path3: '\ea3d';
$sh-align-top-path1: '\ea3e';
$sh-align-top-path2: '\ea3f';
$sh-align-top-path3: '\ea40';
$sh-attachment: '\ea41';
$sh-board: '\ea42';
$sh-clipboard1: '\ea43';
$sh-copy1: '\ea44';
$sh-crop1: '\ea45';
$sh-details-less: '\ea46';
$sh-details-more: '\ea47';
$sh-display-flex: '\ea48';
$sh-display-fullwidth: '\ea49';
$sh-display-grid: '\ea4a';
$sh-display-spacing: '\ea4b';
$sh-distribute-horizontal-path1: '\ea4c';
$sh-distribute-horizontal-path2: '\ec00';
$sh-distribute-horizontal-path3: '\ec01';
$sh-duplicate: '\ea4d';
$sh-format-bold: '\ea4e';
$sh-format-center: '\ea4f';
$sh-format-color: '\ea50';
$sh-format-heading: '\ea51';
$sh-format-indent-decrease: '\ea52';
$sh-format-indent-increase: '\ea53';
$sh-format-italic: '\ea54';
$sh-format-justify: '\ea55';
$sh-format-left: '\ea56';
$sh-format-line-height: '\ea57';
$sh-format-right: '\ea58';
$sh-format-separator-path1: '\ea59';
$sh-format-separator-path2: '\ea5a';
$sh-format-separator-path3: '\ea5b';
$sh-format-separator-path4: '\ea5c';
$sh-format-separator-path5: '\ea5d';
$sh-format-slash: '\ea5e';
$sh-format-strike: '\ea5f';
$sh-format-text: '\ea60';
$sh-format-underline: '\ea61';
$sh-format-uppercase: '\ea62';
$sh-layout-grid: '\ea63';
$sh-layout-grid-small: '\ea64';
$sh-layout-list1: '\ea65';
$sh-layout-pin: '\ea66';
$sh-link1: '\ea67';
$sh-list: '\ea68';
$sh-math-divide: '\ea69';
$sh-math-equal: '\ea6a';
$sh-math-minus: '\ea6b';
$sh-math-percent: '\ea6c';
$sh-math-plus: '\ea6d';
$sh-menu-boxed: '\ea6e';
$sh-menu-left-alt: '\ea6f';
$sh-menu-right-alt: '\ea70';
$sh-menu-round: '\ea71';
$sh-notes1: '\ea72';
$sh-pin: '\ea73';
$sh-pin-alt: '\ea74';
$sh-pin-bottom: '\ea75';
$sh-pin-top: '\ea76';
$sh-quote: '\ea77';
$sh-quote-o: '\ea78';
$sh-ruler1: '\ea79';
$sh-smile: '\ea7a';
$sh-smile-mouth-open: '\ea7b';
$sh-smile-neutral: '\ea7c';
$sh-smile-no-mouth: '\ea7d';
$sh-smile-none: '\ea7e';
$sh-smile-sad: '\ea7f';
$sh-smile-upside: '\ea80';
$sh-stack1: '\ea81';
$sh-trash1: '\ea82';
$sh-trash-empty: '\ea83';
$sh-edit1: '\ebfb';
$sh-question: '\ebfc';
$sh-question-circle: '\ebfd';
$sh-arrange-back: '\ea84';
$sh-arrange-front: '\ea85';
$sh-asterisk: '\ea86';
$sh-attribution: '\ea87';
$sh-border-all1: '\ea88';
$sh-border-bottom1-path1: '\ea89';
$sh-border-bottom1-path2: '\ea8a';
$sh-border-left1-path1: '\ea8b';
$sh-border-left1-path2: '\ea8c';
$sh-border-right1-path1: '\ea8d';
$sh-border-right1-path2: '\ea8e';
$sh-border-style-dashed: '\ea8f';
$sh-border-style-dotted: '\ea90';
$sh-border-style-solid: '\ea91';
$sh-border-top1-path1: '\ea92';
$sh-border-top1-path2: '\ea93';
$sh-color-bucket: '\ea94';
$sh-color-picker1: '\ea95';
$sh-distribute-vertical-path1: '\ea96';
$sh-distribute-vertical-path2: '\ec02';
$sh-distribute-vertical-path3: '\ec03';
$sh-drop: '\ea97';
$sh-drop-invert: '\ea98';
$sh-drop-opacity: '\ea99';
$sh-edit-black-point: '\ea9a';
$sh-edit-contrast: '\ea9b';
$sh-edit-exposure: '\ea9c';
$sh-edit-fade-path1: '\ea9d';
$sh-edit-fade-path2: '\ec04';
$sh-edit-fade-path3: '\ec05';
$sh-edit-flip-h-path1: '\ea9e';
$sh-edit-flip-h-path2: '\ea9f';
$sh-edit-flip-h-path3: '\eaa0';
$sh-edit-flip-v-path1: '\eaa1';
$sh-edit-flip-v-path2: '\eaa2';
$sh-edit-flip-v-path3: '\eaa3';
$sh-edit-highlight: '\eaa4';
$sh-edit-markup: '\eaa5';
$sh-edit-mask: '\eaa6';
$sh-edit-noise: '\eaa7';
$sh-edit-shadows: '\eaa8';
$sh-edit-straight: '\eaa9';
$sh-edit-unmask: '\eaaa';
$sh-erase: '\eaab';
$sh-font-height: '\eaac';
$sh-font-spacing: '\eaad';
$sh-insert-after: '\eaae';
$sh-insert-after-o: '\eaaf';
$sh-insert-after-r: '\eab0';
$sh-insert-before: '\eab1';
$sh-insert-before-o: '\eab2';
$sh-insert-before-r: '\eab3';
$sh-list-tree: '\eab4';
$sh-path-back: '\eab5';
$sh-path-crop: '\eab6';
$sh-path-divide: '\eab7';
$sh-path-exclude: '\eab8';
$sh-path-front: '\eab9';
$sh-path-intersect: '\eaba';
$sh-path-outline: '\eabb';
$sh-path-trim: '\eabc';
$sh-path-unite: '\eabd';
$sh-pen: '\eabe';
$sh-pentagon-bottom-left: '\eabf';
$sh-pentagon-bottom-right: '\eac0';
$sh-pentagon-down: '\eac1';
$sh-pentagon-left: '\eac2';
$sh-pentagon-right: '\eac3';
$sh-pentagon-top-left: '\eac4';
$sh-pentagon-top-right: '\eac5';
$sh-pentagon-up: '\eac6';
$sh-poll: '\eac7';
$sh-rename: '\eac8';
$sh-row-first-path1: '\eac9';
$sh-row-first-path2: '\eaca';
$sh-row-first-path3: '\eacb';
$sh-row-last-path1: '\eacc';
$sh-row-last-path2: '\eacd';
$sh-row-last-path3: '\eace';
$sh-shape-circle: '\eacf';
$sh-shape-half-circle: '\ead0';
$sh-shape-hexagon: '\ead1';
$sh-shape-rhombus: '\ead2';
$sh-shape-square: '\ead3';
$sh-shape-triangle: '\ead4';
$sh-shape-zigzag: '\ead5';
$sh-stories: '\ead6';
$sh-template1: '\ead7';
$sh-tikcode: '\ead8';
$sh-toolbar-bottom: '\ead9';
$sh-toolbar-left: '\eada';
$sh-toolbar-right: '\eadb';
$sh-toolbar-top: '\eadc';
$sh-view-cols: '\eadd';
$sh-view-comfortable: '\eade';
$sh-view-day: '\eadf';
$sh-view-grid: '\eae0';
$sh-view-list: '\eae1';
$sh-view-month: '\eae2';
$sh-view-split: '\eae3';
$sh-website: '\eae4';
$sh-apple-watch: '\eae5';
$sh-bot: '\eae6';
$sh-browser1: '\eae7';
$sh-calculator1: '\eae8';
$sh-camera1: '\eae9';
$sh-cast1: '\eaea';
$sh-controller: '\eaeb';
$sh-desktop: '\eaec';
$sh-dialpad: '\eaed';
$sh-drive: '\eaee';
$sh-ereader: '\eaef';
$sh-home-screen: '\eaf0';
$sh-keyboard1: '\eaf1';
$sh-laptop: '\eaf2';
$sh-mouse1: '\eaf3';
$sh-music-speaker: '\eaf4';
$sh-piano: '\eaf5';
$sh-qr: '\eaf6';
$sh-screen: '\eaf7';
$sh-screen-wide: '\eaf8';
$sh-server1: '\eaf9';
$sh-shield1: '\eafa';
$sh-signal: '\eafb';
$sh-smartphone: '\eafc';
$sh-smartphone-chip: '\eafd';
$sh-smartphone-ram: '\eafe';
$sh-smartphone-shake: '\eaff';
$sh-stopwatch: '\eb00';
$sh-thermostat: '\eb01';
$sh-touchpad: '\eb02';
$sh-tv: '\eb03';
$sh-webcam: '\eb04';
$sh-box1: '\eb05';
$sh-cloud1: '\eb06';
$sh-file1: '\eb07';
$sh-file-add: '\eb08';
$sh-file-document: '\eb09';
$sh-file-remove: '\eb0a';
$sh-folder1: '\eb0b';
$sh-folder-add: '\eb0c';
$sh-folder-remove: '\eb0d';
$sh-toolbox: '\eb0e';
$sh-album: '\eb0f';
$sh-collage: '\eb10';
$sh-comment: '\eb11';
$sh-credit-card: '\eb12';
$sh-data: '\eb13';
$sh-database1: '\eb14';
$sh-disc1: '\eb15';
$sh-film: '\eb16';
$sh-games: '\eb17';
$sh-headset1: '\eb18';
$sh-image: '\eb19';
$sh-inpicture: '\eb1a';
$sh-live-photo1: '\eb1b';
$sh-media-live: '\eb1c';
$sh-media-podcast: '\eb1d';
$sh-mic: '\eb1e';
$sh-music1: '\eb1f';
$sh-music-note: '\eb20';
$sh-photoscan: '\eb21';
$sh-play-backwards: '\eb22';
$sh-play-button: '\eb23';
$sh-play-button-o: '\eb24';
$sh-play-button-r: '\eb25';
$sh-play-forwards: '\eb26';
$sh-play-list: '\eb27';
$sh-play-list-add: '\eb28';
$sh-play-list-check: '\eb29';
$sh-play-list-remove: '\eb2a';
$sh-play-list-search: '\eb2b';
$sh-play-track-next: '\eb2c';
$sh-play-track-next-o: '\eb2d';
$sh-play-track-next-r: '\eb2e';
$sh-play-track-prev: '\eb2f';
$sh-play-track-prev-o: '\eb30';
$sh-play-track-prev-r: '\eb31';
$sh-polaroid: '\eb32';
$sh-presentation1: '\eb33';
$sh-ratio: '\eb34';
$sh-screen-mirror: '\eb35';
$sh-screen-shot: '\eb36';
$sh-ui-kit: '\eb37';
$sh-usb: '\eb38';
$sh-usb-c: '\eb39';
$sh-voicemail: '\eb3a';
$sh-voicemail-o: '\eb3b';
$sh-voicemail-r: '\eb3c';
$sh-volume1: '\eb3d';
$sh-setting: '\ebfe';
$sh-shared-user: '\ebf2';
$sh-single-user: '\ebf3';
$sh-airplane: '\eb3e';
$sh-anchor1: '\eb3f';
$sh-awards: '\eb40';
$sh-band-aid: '\eb41';
$sh-bee: '\eb42';
$sh-bitbucket: '\eb43';
$sh-block: '\eb44';
$sh-bowl: '\eb45';
$sh-boy: '\eb46';
$sh-briefcase1: '\eb47';
$sh-browse: '\eb48';
$sh-brush1: '\eb49';
$sh-calibrate: '\eb4a';
$sh-cap: '\eb4b';
$sh-card-clubs: '\eb4c';
$sh-card-diamonds: '\eb4d';
$sh-card-hearts: '\eb4e';
$sh-card-spades: '\eb4f';
$sh-carousel: '\eb50';
$sh-chart: '\eb51';
$sh-clapper-board: '\eb52';
$sh-close: '\eb53';
$sh-coffee: '\eb54';
$sh-community: '\eb55';
$sh-components: '\eb56';
$sh-copyright1: '\eb57';
$sh-cross1: '\eb58';
$sh-crown: '\eb59';
$sh-dark-mode: '\eb5a';
$sh-debug: '\eb5b';
$sh-dice-1: '\eb5c';
$sh-dice-2: '\eb5d';
$sh-dice-3: '\eb5e';
$sh-dice-4: '\eb5f';
$sh-dice-5: '\eb60';
$sh-dice-6: '\eb61';
$sh-dock-bottom: '\eb62';
$sh-dock-left: '\eb63';
$sh-dock-right: '\eb64';
$sh-dock-window: '\eb65';
$sh-dollar: '\eb66';
$sh-eject: '\eb67';
$sh-ericsson: '\eb68';
$sh-ethernet: '\eb69';
$sh-euro: '\eb6a';
$sh-extension: '\eb6b';
$sh-extension-add: '\eb6c';
$sh-extension-alt: '\eb6d';
$sh-extension-remove: '\eb6e';
$sh-external: '\eb6f';
$sh-eye1: '\eb70';
$sh-eye-alt: '\eb71';
$sh-filters: '\eb72';
$sh-flag-alt: '\eb73';
$sh-gender-female: '\eb74';
$sh-gender-male: '\eb75';
$sh-ghost-character: '\eb76';
$sh-gift1: '\eb77';
$sh-girl: '\eb78';
$sh-glass1: '\eb79';
$sh-glass-alt: '\eb7a';
$sh-globe1: '\eb7b';
$sh-globe-alt: '\eb7c';
$sh-gym: '\eb7d';
$sh-heart1: '\eb7e';
$sh-home1: '\eb7f';
$sh-home-alt: '\eb80';
$sh-icecream: '\eb81';
$sh-infinity1: '\eb82';
$sh-insights: '\eb83';
$sh-key1: '\eb84';
$sh-keyhole: '\eb85';
$sh-loadbar: '\eb86';
$sh-loadbar-alt-path1: '\eb87';
$sh-loadbar-alt-path2: '\eb88';
$sh-loadbar-doc: '\eb89';
$sh-loadbar-sound: '\eb8a';
$sh-loupe: '\eb8b';
$sh-magnet1-path1: '\eb8c';
$sh-magnet1-path2: '\eb8d';
$sh-magnet1-path3: '\eb8e';
$sh-mail1: '\eb8f';
$sh-mail-forward: '\eb90';
$sh-mail-open: '\eb91';
$sh-mail-reply: '\eb92';
$sh-maximize1: '\eb93';
$sh-maximize-alt: '\eb94';
$sh-menu-cake: '\eb95';
$sh-menu-cheese: '\eb96';
$sh-menu-grid-o: '\eb97';
$sh-menu-grid-r: '\eb98';
$sh-menu-hotdog: '\eb99';
$sh-menu-motion: '\eb9a';
$sh-menu-oreos: '\eb9b';
$sh-mini-player: '\eb9c';
$sh-modem: '\eb9d';
$sh-moon1: '\eb9e';
$sh-nametag: '\eb9f';
$sh-notifications: '\eba0';
$sh-open-collective-path1: '\eba1';
$sh-open-collective-path2: '\eba2';
$sh-options: '\eba3';
$sh-organisation: '\eba4';
$sh-password: '\eba5';
$sh-performance: '\eba6';
$sh-pill: '\eba7';
$sh-plug1: '\eba8';
$sh-profile: '\eba9';
$sh-pull-clear: '\ebaa';
$sh-radio-check: '\ebab';
$sh-radio-checked: '\ebac';
$sh-readme: '\ebad';
$sh-record: '\ebae';
$sh-remove: '\ebaf';
$sh-remove-r: '\ebb0';
$sh-reorder-path1: '\ebb1';
$sh-reorder-path2: '\ebb2';
$sh-reorder-path3: '\ebb3';
$sh-reorder-path4: '\ebb4';
$sh-reorder-path5: '\ebb5';
$sh-ring: '\ebb6';
$sh-sand-clock: '\ebb7';
$sh-scan1: '\ebb8';
$sh-search1: '\ebb9';
$sh-search-found: '\ebba';
$sh-search-loading: '\ebbb';
$sh-shopping-bag: '\ebbc';
$sh-shopping-cart1: '\ebbd';
$sh-sidebar: '\ebbe';
$sh-sidebar-open: '\ebbf';
$sh-sidebar-right: '\ebc0';
$sh-sleep: '\ebc1';
$sh-smart-home-boiler: '\ebc2';
$sh-smart-home-cooker: '\ebc3';
$sh-smart-home-heat: '\ebc4';
$sh-smart-home-light: '\ebc5';
$sh-smart-home-refrigerator: '\ebc6';
$sh-smart-home-wash-machine: '\ebc7';
$sh-space-between: '\ebc8';
$sh-space-between-v: '\ebc9';
$sh-spinner-path1: '\ebca';
$sh-spinner-path2: '\ebcb';
$sh-spinner-alt: '\ebcc';
$sh-spinner-two-path1: '\ebcd';
$sh-spinner-two-path2: '\ebce';
$sh-spinner-two-path3: '\ebcf';
$sh-spinner-two-alt: '\ebd0';
$sh-style: '\ebd1';
$sh-sun1: '\ebd2';
$sh-support: '\ebd3';
$sh-tab: '\ebd4';
$sh-tag1: '\ebd5';
$sh-tap-double: '\ebd6';
$sh-tap-single: '\ebd7';
$sh-tennis1: '\ebd8';
$sh-terrain: '\ebd9';
$sh-thermometer: '\ebda';
$sh-time: '\ebdb';
$sh-timelapse: '\ebdc';
$sh-timer: '\ebdd';
$sh-today-path1: '\ebde';
$sh-today-path2: '\ebdf';
$sh-today-path3: '\ebe0';
$sh-track: '\ebe1';
$sh-transcript: '\ebe2';
$sh-tree: '\ebe3';
$sh-trees1: '\ebe4';
$sh-trophy1: '\ebe5';
$sh-umbrella1: '\ebe6';
$sh-unavailable: '\ebe7';
$sh-unblock: '\ebe8';
$sh-user1: '\ebe9';
$sh-user-add: '\ebea';
$sh-user-list: '\ebeb';
$sh-user-remove: '\ebec';
$sh-vinyl: '\ebed';
$sh-work-alt: '\ebee';
$sh-yinyang: '\ebef';
$sh-zoom-in1: '\ebf0';
$sh-zoom-out1: '\ebf1';
