@import './fontVariables';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?o6iftd');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?o6iftd#iefix')
      format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?o6iftd')
      format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?o6iftd')
      format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?o6iftd##{$icomoon-font-family}')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='sh-'],
[class*=' sh-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sh-apps {
  &:before {
    content: $sh-apps;
  }
}
.sh-grid {
  &:before {
    content: $sh-grid;
  }
}
.sh-grid-dots {
  &:before {
    content: $sh-grid-dots;
  }
}
.sh-layout {
  &:before {
    content: $sh-layout;
  }
}
.sh-layout-align-bottom {
  &:before {
    content: $sh-layout-align-bottom;
  }
}
.sh-layout-align-center {
  &:before {
    content: $sh-layout-align-center;
  }
}
.sh-layout-align-left {
  &:before {
    content: $sh-layout-align-left;
  }
}
.sh-layout-align-middle {
  &:before {
    content: $sh-layout-align-middle;
  }
}
.sh-layout-align-right {
  &:before {
    content: $sh-layout-align-right;
  }
}
.sh-layout-align-top {
  &:before {
    content: $sh-layout-align-top;
  }
}
.sh-layout-bottombar {
  &:before {
    content: $sh-layout-bottombar;
  }
}
.sh-layout-cards {
  &:before {
    content: $sh-layout-cards;
  }
}
.sh-layout-columns {
  &:before {
    content: $sh-layout-columns;
  }
}
.sh-layout-distribute-horizontal {
  &:before {
    content: $sh-layout-distribute-horizontal;
  }
}
.sh-layout-distribute-vertical {
  &:before {
    content: $sh-layout-distribute-vertical;
  }
}
.sh-layout-list {
  &:before {
    content: $sh-layout-list;
  }
}
.sh-layout-navbar {
  &:before {
    content: $sh-layout-navbar;
  }
}
.sh-layout-rows {
  &:before {
    content: $sh-layout-rows;
  }
}
.sh-layout-sidebar-left {
  &:before {
    content: $sh-layout-sidebar-left;
  }
}
.sh-layout-sidebar-right {
  &:before {
    content: $sh-layout-sidebar-right;
  }
}
.sh-layout-square {
  &:before {
    content: $sh-layout-square;
  }
}
.sh-layout-table {
  &:before {
    content: $sh-layout-table;
  }
}
.sh-viewport-narrow {
  &:before {
    content: $sh-viewport-narrow;
  }
}
.sh-viewport-wide {
  &:before {
    content: $sh-viewport-wide;
  }
}
.sh-ambulance {
  &:before {
    content: $sh-ambulance;
  }
}
.sh-bike {
  &:before {
    content: $sh-bike;
  }
}
.sh-building {
  &:before {
    content: $sh-building;
  }
}
.sh-building-arch {
  &:before {
    content: $sh-building-arch;
  }
}
.sh-building-bank {
  &:before {
    content: $sh-building-bank;
  }
}
.sh-building-bridge {
  &:before {
    content: $sh-building-bridge;
  }
}
.sh-building-church {
  &:before {
    content: $sh-building-church;
  }
}
.sh-building-community {
  &:before {
    content: $sh-building-community;
  }
}
.sh-building-hospital {
  &:before {
    content: $sh-building-hospital;
  }
}
.sh-building-pavilon {
  &:before {
    content: $sh-building-pavilon;
  }
}
.sh-building-rope-bridge {
  &:before {
    content: $sh-building-rope-bridge;
  }
}
.sh-building-skyscrappers {
  &:before {
    content: $sh-building-skyscrappers;
  }
}
.sh-building-store {
  &:before {
    content: $sh-building-store;
  }
}
.sh-building-warehouse {
  &:before {
    content: $sh-building-warehouse;
  }
}
.sh-bus {
  &:before {
    content: $sh-bus;
  }
}
.sh-car {
  &:before {
    content: $sh-car;
  }
}
.sh-firetruck {
  &:before {
    content: $sh-firetruck;
  }
}
.sh-forklift {
  &:before {
    content: $sh-forklift;
  }
}
.sh-plane {
  &:before {
    content: $sh-plane;
  }
}
.sh-plane-arrival {
  &:before {
    content: $sh-plane-arrival;
  }
}
.sh-plane-departure {
  &:before {
    content: $sh-plane-departure;
  }
}
.sh-tir {
  &:before {
    content: $sh-tir;
  }
}
.sh-tractor {
  &:before {
    content: $sh-tractor;
  }
}
.sh-truck {
  &:before {
    content: $sh-truck;
  }
}
.sh-disabled {
  &:before {
    content: $sh-disabled;
  }
}
.sh-friends {
  &:before {
    content: $sh-friends;
  }
}
.sh-man {
  &:before {
    content: $sh-man;
  }
}
.sh-user {
  &:before {
    content: $sh-user;
  }
}
.sh-user-check {
  &:before {
    content: $sh-user-check;
  }
}
.sh-user-exclamation {
  &:before {
    content: $sh-user-exclamation;
  }
}
.sh-user-list {
  &:before {
    content: $sh-user-list;
  }
}
.sh-user-minus {
  &:before {
    content: $sh-user-minus;
  }
}
.sh-user-plus {
  &:before {
    content: $sh-user-plus;
  }
}
.sh-users {
  &:before {
    content: $sh-users;
  }
}
.sh-user-x {
  &:before {
    content: $sh-user-x;
  }
}
.sh-woman {
  &:before {
    content: $sh-woman;
  }
}
.sh-mood-confuzed {
  &:before {
    content: $sh-mood-confuzed;
  }
}
.sh-mood-happy {
  &:before {
    content: $sh-mood-happy;
  }
}
.sh-mood-kid {
  &:before {
    content: $sh-mood-kid;
  }
}
.sh-mood-neutral {
  &:before {
    content: $sh-mood-neutral;
  }
}
.sh-mood-sad {
  &:before {
    content: $sh-mood-sad;
  }
}
.sh-mood-smile {
  &:before {
    content: $sh-mood-smile;
  }
}
.sh-mood-suprised {
  &:before {
    content: $sh-mood-suprised;
  }
}
.sh-mood-tongue {
  &:before {
    content: $sh-mood-tongue;
  }
}
.sh-volume-high {
  &:before {
    content: $sh-volume-high;
  }
}
.sh-volume-low {
  &:before {
    content: $sh-volume-low;
  }
}
.sh-volume-mute {
  &:before {
    content: $sh-volume-mute;
  }
}
.sh-alarm {
  &:before {
    content: $sh-alarm;
  }
}
.sh-calendar {
  &:before {
    content: $sh-calendar;
  }
}
.sh-calendar-event {
  &:before {
    content: $sh-calendar-event;
  }
}
.sh-calendar-minus {
  &:before {
    content: $sh-calendar-minus;
  }
}
.sh-calendar-plus {
  &:before {
    content: $sh-calendar-plus;
  }
}
.sh-clock {
  &:before {
    content: $sh-clock;
  }
}
.sh-history {
  &:before {
    content: $sh-history;
  }
}
.sh-accessible {
  &:before {
    content: $sh-accessible;
  }
}
.sh-ad {
  &:before {
    content: $sh-ad;
  }
}
.sh-alien {
  &:before {
    content: $sh-alien;
  }
}
.sh-anchor {
  &:before {
    content: $sh-anchor;
  }
}
.sh-aperture {
  &:before {
    content: $sh-aperture;
  }
}
.sh-atom {
  &:before {
    content: $sh-atom;
  }
}
.sh-atom-circle {
  &:before {
    content: $sh-atom-circle;
  }
}
.sh-award {
  &:before {
    content: $sh-award;
  }
}
.sh-backspace {
  &:before {
    content: $sh-backspace;
  }
}
.sh-ban {
  &:before {
    content: $sh-ban;
  }
}
.sh-bandage {
  &:before {
    content: $sh-bandage;
  }
}
.sh-basket {
  &:before {
    content: $sh-basket;
  }
}
.sh-basketball {
  &:before {
    content: $sh-basketball;
  }
}
.sh-bed {
  &:before {
    content: $sh-bed;
  }
}
.sh-bowling {
  &:before {
    content: $sh-bowling;
  }
}
.sh-box {
  &:before {
    content: $sh-box;
  }
}
.sh-bucket {
  &:before {
    content: $sh-bucket;
  }
}
.sh-currency-bitcoin {
  &:before {
    content: $sh-currency-bitcoin;
  }
}
.sh-currency-dollar {
  &:before {
    content: $sh-currency-dollar;
  }
}
.sh-currency-euro {
  &:before {
    content: $sh-currency-euro;
  }
}
.sh-currency-pound {
  &:before {
    content: $sh-currency-pound;
  }
}
.sh-currency-rupee {
  &:before {
    content: $sh-currency-rupee;
  }
}
.sh-currency-yen {
  &:before {
    content: $sh-currency-yen;
  }
}
.sh-cut {
  &:before {
    content: $sh-cut;
  }
}
.sh-diamond {
  &:before {
    content: $sh-diamond;
  }
}
.sh-dice {
  &:before {
    content: $sh-dice;
  }
}
.sh-droplet {
  &:before {
    content: $sh-droplet;
  }
}
.sh-ear {
  &:before {
    content: $sh-ear;
  }
}
.sh-egg {
  &:before {
    content: $sh-egg;
  }
}
.sh-fingerprint {
  &:before {
    content: $sh-fingerprint;
  }
}
.sh-flask {
  &:before {
    content: $sh-flask;
  }
}
.sh-gauge {
  &:before {
    content: $sh-gauge;
  }
}
.sh-ghost {
  &:before {
    content: $sh-ghost;
  }
}
.sh-glass-empty {
  &:before {
    content: $sh-glass-empty;
  }
}
.sh-glass-full {
  &:before {
    content: $sh-glass-full;
  }
}
.sh-globe {
  &:before {
    content: $sh-globe;
  }
}
.sh-hand-middle-finger {
  &:before {
    content: $sh-hand-middle-finger;
  }
}
.sh-hand-stop {
  &:before {
    content: $sh-hand-stop;
  }
}
.sh-ice-cream {
  &:before {
    content: $sh-ice-cream;
  }
}
.sh-key {
  &:before {
    content: $sh-key;
  }
}
.sh-language {
  &:before {
    content: $sh-language;
  }
}
.sh-lego {
  &:before {
    content: $sh-lego;
  }
}
.sh-lifebuoy {
  &:before {
    content: $sh-lifebuoy;
  }
}
.sh-magnet {
  &:before {
    content: $sh-magnet;
  }
}
.sh-moon {
  &:before {
    content: $sh-moon;
  }
}
.sh-mug {
  &:before {
    content: $sh-mug;
  }
}
.sh-omega {
  &:before {
    content: $sh-omega;
  }
}
.sh-outlet {
  &:before {
    content: $sh-outlet;
  }
}
.sh-package {
  &:before {
    content: $sh-package;
  }
}
.sh-parking {
  &:before {
    content: $sh-parking;
  }
}
.sh-pillow {
  &:before {
    content: $sh-pillow;
  }
}
.sh-planet {
  &:before {
    content: $sh-planet;
  }
}
.sh-puzzle {
  &:before {
    content: $sh-puzzle;
  }
}
.sh-scale {
  &:before {
    content: $sh-scale;
  }
}
.sh-shirt {
  &:before {
    content: $sh-shirt;
  }
}
.sh-shopping-cart {
  &:before {
    content: $sh-shopping-cart;
  }
}
.sh-slice {
  &:before {
    content: $sh-slice;
  }
}
.sh-snowflake {
  &:before {
    content: $sh-snowflake;
  }
}
.sh-sticker {
  &:before {
    content: $sh-sticker;
  }
}
.sh-sun {
  &:before {
    content: $sh-sun;
  }
}
.sh-temperature {
  &:before {
    content: $sh-temperature;
  }
}
.sh-temperature-celsius {
  &:before {
    content: $sh-temperature-celsius;
  }
}
.sh-temperature-fahrenheit {
  &:before {
    content: $sh-temperature-fahrenheit;
  }
}
.sh-temperature-minus {
  &:before {
    content: $sh-temperature-minus;
  }
}
.sh-temperature-plus {
  &:before {
    content: $sh-temperature-plus;
  }
}
.sh-tennis {
  &:before {
    content: $sh-tennis;
  }
}
.sh-test-pipe {
  &:before {
    content: $sh-test-pipe;
  }
}
.sh-traffic-cone {
  &:before {
    content: $sh-traffic-cone;
  }
}
.sh-trees {
  &:before {
    content: $sh-trees;
  }
}
.sh-trophy {
  &:before {
    content: $sh-trophy;
  }
}
.sh-umbrella {
  &:before {
    content: $sh-umbrella;
  }
}
.sh-urgent {
  &:before {
    content: $sh-urgent;
  }
}
.sh-viewfinder {
  &:before {
    content: $sh-viewfinder;
  }
}
.sh-virus {
  &:before {
    content: $sh-virus;
  }
}
.sh-volleyball {
  &:before {
    content: $sh-volleyball;
  }
}
.sh-wallet {
  &:before {
    content: $sh-wallet;
  }
}
.sh-wand {
  &:before {
    content: $sh-wand;
  }
}
.sh-wind {
  &:before {
    content: $sh-wind;
  }
}
.sh-yin-yang {
  &:before {
    content: $sh-yin-yang;
  }
}
.sh-activity {
  &:before {
    content: $sh-activity;
  }
}
.sh-archive {
  &:before {
    content: $sh-archive;
  }
}
.sh-barcode {
  &:before {
    content: $sh-barcode;
  }
}
.sh-bluetooth {
  &:before {
    content: $sh-bluetooth;
  }
}
.sh-briefcase {
  &:before {
    content: $sh-briefcase;
  }
}
.sh-bug {
  &:before {
    content: $sh-bug;
  }
}
.sh-cast {
  &:before {
    content: $sh-cast;
  }
}
.sh-chart-candle {
  &:before {
    content: $sh-chart-candle;
  }
}
.sh-click {
  &:before {
    content: $sh-click;
  }
}
.sh-cloud {
  &:before {
    content: $sh-cloud;
  }
}
.sh-cloud-download {
  &:before {
    content: $sh-cloud-download;
  }
}
.sh-cloud-rain {
  &:before {
    content: $sh-cloud-rain;
  }
}
.sh-cloud-snow {
  &:before {
    content: $sh-cloud-snow;
  }
}
.sh-cloud-storm {
  &:before {
    content: $sh-cloud-storm;
  }
}
.sh-cloud-upload {
  &:before {
    content: $sh-cloud-upload;
  }
}
.sh-command {
  &:before {
    content: $sh-command;
  }
}
.sh-dashboard {
  &:before {
    content: $sh-dashboard;
  }
}
.sh-database {
  &:before {
    content: $sh-database;
  }
}
.sh-disc {
  &:before {
    content: $sh-disc;
  }
}
.sh-download {
  &:before {
    content: $sh-download;
  }
}
.sh-exposure {
  &:before {
    content: $sh-exposure;
  }
}
.sh-external-link {
  &:before {
    content: $sh-external-link;
  }
}
.sh-face-id {
  &:before {
    content: $sh-face-id;
  }
}
.sh-focus {
  &:before {
    content: $sh-focus;
  }
}
.sh-grip-horizontal {
  &:before {
    content: $sh-grip-horizontal;
  }
}
.sh-grip-vertical {
  &:before {
    content: $sh-grip-vertical;
  }
}
.sh-inbox {
  &:before {
    content: $sh-inbox;
  }
}
.sh-keyboard {
  &:before {
    content: $sh-keyboard;
  }
}
.sh-live-photo {
  &:before {
    content: $sh-live-photo;
  }
}
.sh-lock {
  &:before {
    content: $sh-lock;
  }
}
.sh-lock-open {
  &:before {
    content: $sh-lock-open;
  }
}
.sh-login {
  &:before {
    content: $sh-login;
  }
}
.sh-logout {
  &:before {
    content: $sh-logout;
  }
}
.sh-menu {
  &:before {
    content: $sh-menu;
  }
}
.sh-notification {
  &:before {
    content: $sh-notification;
  }
}
.sh-power {
  &:before {
    content: $sh-power;
  }
}
.sh-presentation {
  &:before {
    content: $sh-presentation;
  }
}
.sh-qrcode {
  &:before {
    content: $sh-qrcode;
  }
}
.sh-record-mail {
  &:before {
    content: $sh-record-mail;
  }
}
.sh-scan {
  &:before {
    content: $sh-scan;
  }
}
.sh-send {
  &:before {
    content: $sh-send;
  }
}
.sh-server {
  &:before {
    content: $sh-server;
  }
}
.sh-shield {
  &:before {
    content: $sh-shield;
  }
}
.sh-shield-check {
  &:before {
    content: $sh-shield-check;
  }
}
.sh-shield-x {
  &:before {
    content: $sh-shield-x;
  }
}
.sh-sitemap {
  &:before {
    content: $sh-sitemap;
  }
}
.sh-slideshow {
  &:before {
    content: $sh-slideshow;
  }
}
.sh-stack {
  &:before {
    content: $sh-stack;
  }
}
.sh-tool {
  &:before {
    content: $sh-tool;
  }
}
.sh-tools {
  &:before {
    content: $sh-tools;
  }
}
.sh-upload {
  &:before {
    content: $sh-upload;
  }
}
.sh-align-center {
  &:before {
    content: $sh-align-center;
  }
}
.sh-align-justified {
  &:before {
    content: $sh-align-justified;
  }
}
.sh-align-left {
  &:before {
    content: $sh-align-left;
  }
}
.sh-align-right {
  &:before {
    content: $sh-align-right;
  }
}
.sh-artboard {
  &:before {
    content: $sh-artboard;
  }
}
.sh-at {
  &:before {
    content: $sh-at;
  }
}
.sh-bold {
  &:before {
    content: $sh-bold;
  }
}
.sh-border-all {
  &:before {
    content: $sh-border-all;
  }
}
.sh-border-bottom {
  &:before {
    content: $sh-border-bottom;
  }
}
.sh-border-horizontal {
  &:before {
    content: $sh-border-horizontal;
  }
}
.sh-border-inner {
  &:before {
    content: $sh-border-inner;
  }
}
.sh-border-left {
  &:before {
    content: $sh-border-left;
  }
}
.sh-border-none {
  &:before {
    content: $sh-border-none;
  }
}
.sh-border-outer {
  &:before {
    content: $sh-border-outer;
  }
}
.sh-border-radius {
  &:before {
    content: $sh-border-radius;
  }
}
.sh-border-right {
  &:before {
    content: $sh-border-right;
  }
}
.sh-border-top {
  &:before {
    content: $sh-border-top;
  }
}
.sh-border-vertical {
  &:before {
    content: $sh-border-vertical;
  }
}
.sh-braces {
  &:before {
    content: $sh-braces;
  }
}
.sh-brackets {
  &:before {
    content: $sh-brackets;
  }
}
.sh-brightness {
  &:before {
    content: $sh-brightness;
  }
}
.sh-brightness-down {
  &:before {
    content: $sh-brightness-down;
  }
}
.sh-brightness-up {
  &:before {
    content: $sh-brightness-up;
  }
}
.sh-brush {
  &:before {
    content: $sh-brush;
  }
}
.sh-bulb {
  &:before {
    content: $sh-bulb;
  }
}
.sh-bulb-off {
  &:before {
    content: $sh-bulb-off;
  }
}
.sh-bullet {
  &:before {
    content: $sh-bullet;
  }
}
.sh-checklist {
  &:before {
    content: $sh-checklist;
  }
}
.sh-clear-formatting {
  &:before {
    content: $sh-clear-formatting;
  }
}
.sh-code {
  &:before {
    content: $sh-code;
  }
}
.sh-color-picker {
  &:before {
    content: $sh-color-picker;
  }
}
.sh-color-swatch {
  &:before {
    content: $sh-color-swatch;
  }
}
.sh-columns {
  &:before {
    content: $sh-columns;
  }
}
.sh-crop {
  &:before {
    content: $sh-crop;
  }
}
.sh-eraser {
  &:before {
    content: $sh-eraser;
  }
}
.sh-flip-horizontal {
  &:before {
    content: $sh-flip-horizontal;
  }
}
.sh-flip-vertical {
  &:before {
    content: $sh-flip-vertical;
  }
}
.sh-float-center {
  &:before {
    content: $sh-float-center;
  }
}
.sh-float-left {
  &:before {
    content: $sh-float-left;
  }
}
.sh-float-right {
  &:before {
    content: $sh-float-right;
  }
}
.sh-frame {
  &:before {
    content: $sh-frame;
  }
}
.sh-indent-decrease {
  &:before {
    content: $sh-indent-decrease;
  }
}
.sh-indent-increase {
  &:before {
    content: $sh-indent-increase;
  }
}
.sh-italic {
  &:before {
    content: $sh-italic;
  }
}
.sh-layers-difference {
  &:before {
    content: $sh-layers-difference;
  }
}
.sh-layers-intersect {
  &:before {
    content: $sh-layers-intersect;
  }
}
.sh-layers-subtract {
  &:before {
    content: $sh-layers-subtract;
  }
}
.sh-layers-union {
  &:before {
    content: $sh-layers-union;
  }
}
.sh-letter-case {
  &:before {
    content: $sh-letter-case;
  }
}
.sh-line-height {
  &:before {
    content: $sh-line-height;
  }
}
.sh-link {
  &:before {
    content: $sh-link;
  }
}
.sh-math {
  &:before {
    content: $sh-math;
  }
}
.sh-maximize {
  &:before {
    content: $sh-maximize;
  }
}
.sh-minimize {
  &:before {
    content: $sh-minimize;
  }
}
.sh-minus {
  &:before {
    content: $sh-minus;
  }
}
.sh-mist {
  &:before {
    content: $sh-mist;
  }
}
.sh-new-section {
  &:before {
    content: $sh-new-section;
  }
}
.sh-paint {
  &:before {
    content: $sh-paint;
  }
}
.sh-palette {
  &:before {
    content: $sh-palette;
  }
}
.sh-parentheses {
  &:before {
    content: $sh-parentheses;
  }
}
.sh-point {
  &:before {
    content: $sh-point;
  }
}
.sh-prompt {
  &:before {
    content: $sh-prompt;
  }
}
.sh-ruler {
  &:before {
    content: $sh-ruler;
  }
}
.sh-separator {
  &:before {
    content: $sh-separator;
  }
}
.sh-shape {
  &:before {
    content: $sh-shape;
  }
}
.sh-sort-ascending {
  &:before {
    content: $sh-sort-ascending;
  }
}
.sh-sort-descending {
  &:before {
    content: $sh-sort-descending;
  }
}
.sh-space {
  &:before {
    content: $sh-space;
  }
}
.sh-strikethrough {
  &:before {
    content: $sh-strikethrough;
  }
}
.sh-subscript {
  &:before {
    content: $sh-subscript;
  }
}
.sh-sum {
  &:before {
    content: $sh-sum;
  }
}
.sh-sunset {
  &:before {
    content: $sh-sunset;
  }
}
.sh-sunshine {
  &:before {
    content: $sh-sunshine;
  }
}
.sh-superscript {
  &:before {
    content: $sh-superscript;
  }
}
.sh-table {
  &:before {
    content: $sh-table;
  }
}
.sh-template {
  &:before {
    content: $sh-template;
  }
}
.sh-terminal {
  &:before {
    content: $sh-terminal;
  }
}
.sh-terminal-code {
  &:before {
    content: $sh-terminal-code;
  }
}
.sh-text_color {
  &:before {
    content: $sh-text_color;
  }
}
.sh-text_highlight {
  &:before {
    content: $sh-text_highlight;
  }
}
.sh-text-wrap {
  &:before {
    content: $sh-text-wrap;
  }
}
.sh-typography {
  &:before {
    content: $sh-typography;
  }
}
.sh-underline {
  &:before {
    content: $sh-underline;
  }
}
.sh-unlink {
  &:before {
    content: $sh-unlink;
  }
}
.sh-zoom-in {
  &:before {
    content: $sh-zoom-in;
  }
}
.sh-zoom-out {
  &:before {
    content: $sh-zoom-out;
  }
}
.sh-android {
  &:before {
    content: $sh-android;
  }
}
.sh-apple {
  &:before {
    content: $sh-apple;
  }
}
.sh-brand-github {
  &:before {
    content: $sh-brand-github;
  }
}
.sh-brand-gitlab {
  &:before {
    content: $sh-brand-gitlab;
  }
}
.sh-brand-google {
  &:before {
    content: $sh-brand-google;
  }
}
.sh-brand-google-drive {
  &:before {
    content: $sh-brand-google-drive;
  }
}
.sh-brand-instagram {
  &:before {
    content: $sh-brand-instagram;
  }
}
.sh-brand-opera {
  &:before {
    content: $sh-brand-opera;
  }
}
.sh-brand-paypal {
  &:before {
    content: $sh-brand-paypal;
  }
}
.sh-brand-safari {
  &:before {
    content: $sh-brand-safari;
  }
}
.sh-brand-sketch {
  &:before {
    content: $sh-brand-sketch;
  }
}
.sh-brand-snapchat {
  &:before {
    content: $sh-brand-snapchat;
  }
}
.sh-brand-telegram {
  &:before {
    content: $sh-brand-telegram;
  }
}
.sh-brand-twitter {
  &:before {
    content: $sh-brand-twitter;
  }
}
.sh-chrome {
  &:before {
    content: $sh-chrome;
  }
}
.sh-dribbble {
  &:before {
    content: $sh-dribbble;
  }
}
.sh-dropbox {
  &:before {
    content: $sh-dropbox;
    color: #017ee6;
  }
}
.sh-facebook {
  &:before {
    content: $sh-facebook;
  }
}
.sh-facebook-bw {
  &:before {
    content: $sh-facebook-bw;
  }
}
.sh-facebook-color .path1 {
  &:before {
    content: $sh-facebook-color-path1;
    color: rgb(0, 0, 0);
  }
}
.sh-facebook-color .path2 {
  &:before {
    content: $sh-facebook-color-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.sh-facebook-old {
  &:before {
    content: $sh-facebook-old;
    color: #475993;
  }
}
.sh-framer {
  &:before {
    content: $sh-framer;
  }
}
.sh-gmail-color {
  &:before {
    content: $sh-gmail-color;
  }
}
.sh-google-drive {
  &:before {
    content: $sh-google-drive;
  }
}
.sh-google-new {
  &:before {
    content: $sh-google-new;
  }
}
.sh-google-plus {
  &:before {
    content: $sh-google-plus;
    color: #f34a38;
  }
}
.sh-linkedin-bw {
  &:before {
    content: $sh-linkedin-bw;
  }
}
.sh-linkedin-color .path1 {
  &:before {
    content: $sh-linkedin-color-path1;
    color: rgb(18, 117, 177);
  }
}
.sh-linkedin-color .path2 {
  &:before {
    content: $sh-linkedin-color-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.sh-linkedin-color .path3 {
  &:before {
    content: $sh-linkedin-color-path3;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.sh-linkedin-color .path4 {
  &:before {
    content: $sh-linkedin-color-path4;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.sh-microsoft-color {
  &:before {
    content: $sh-microsoft-color;
  }
}
.sh-outlook-color {
  &:before {
    content: $sh-outlook-color;
  }
}
.sh-twitter-bw {
  &:before {
    content: $sh-twitter-bw;
  }
}
.sh-twitter-color {
  &:before {
    content: $sh-twitter-color;
    color: #47acdf;
  }
}
.sh-youtube-bw {
  &:before {
    content: $sh-youtube-bw;
  }
}
.sh-youtube-color .path1 {
  &:before {
    content: $sh-youtube-color-path1;
    color: rgb(252, 13, 27);
  }
}
.sh-youtube-color .path2 {
  &:before {
    content: $sh-youtube-color-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.sh-battery-10 {
  &:before {
    content: $sh-battery-10;
  }
}
.sh-battery-20 {
  &:before {
    content: $sh-battery-20;
  }
}
.sh-battery-charging {
  &:before {
    content: $sh-battery-charging;
  }
}
.sh-battery-empty {
  &:before {
    content: $sh-battery-empty;
  }
}
.sh-battery-full {
  &:before {
    content: $sh-battery-full;
  }
}
.sh-battery-half {
  &:before {
    content: $sh-battery-half;
  }
}
.sh-calculator {
  &:before {
    content: $sh-calculator;
  }
}
.sh-camera {
  &:before {
    content: $sh-camera;
  }
}
.sh-device-desktop {
  &:before {
    content: $sh-device-desktop;
  }
}
.sh-device-floppy {
  &:before {
    content: $sh-device-floppy;
  }
}
.sh-device-gamepad {
  &:before {
    content: $sh-device-gamepad;
  }
}
.sh-device-laptop {
  &:before {
    content: $sh-device-laptop;
  }
}
.sh-device-mobile {
  &:before {
    content: $sh-device-mobile;
  }
}
.sh-device-mobile-vibration {
  &:before {
    content: $sh-device-mobile-vibration;
  }
}
.sh-devices {
  &:before {
    content: $sh-devices;
  }
}
.sh-device-speaker {
  &:before {
    content: $sh-device-speaker;
  }
}
.sh-device-tablet {
  &:before {
    content: $sh-device-tablet;
  }
}
.sh-device-tv {
  &:before {
    content: $sh-device-tv;
  }
}
.sh-device-watch {
  &:before {
    content: $sh-device-watch;
  }
}
.sh-floppy-disk {
  &:before {
    content: $sh-floppy-disk;
  }
}
.sh-git-branch {
  &:before {
    content: $sh-git-branch;
  }
}
.sh-git-commit {
  &:before {
    content: $sh-git-commit;
  }
}
.sh-git-compare {
  &:before {
    content: $sh-git-compare;
  }
}
.sh-git-fork {
  &:before {
    content: $sh-git-fork;
  }
}
.sh-git-merge {
  &:before {
    content: $sh-git-merge;
  }
}
.sh-git-pull-request {
  &:before {
    content: $sh-git-pull-request;
  }
}
.sh-mouse {
  &:before {
    content: $sh-mouse;
  }
}
.sh-plug {
  &:before {
    content: $sh-plug;
  }
}
.sh-printer {
  &:before {
    content: $sh-printer;
  }
}
.sh-route {
  &:before {
    content: $sh-route;
  }
}
.sh-router {
  &:before {
    content: $sh-router;
  }
}
.sh-rss {
  &:before {
    content: $sh-rss;
  }
}
.sh-social {
  &:before {
    content: $sh-social;
  }
}
.sh-wifi {
  &:before {
    content: $sh-wifi;
  }
}
.sh-wifi-2 {
  &:before {
    content: $sh-wifi-2;
  }
}
.sh-wifi-3 {
  &:before {
    content: $sh-wifi-3;
  }
}
.sh-wifi-low-signal {
  &:before {
    content: $sh-wifi-low-signal;
  }
}
.sh-world {
  &:before {
    content: $sh-world;
  }
}
.sh-headphones {
  &:before {
    content: $sh-headphones;
  }
}
.sh-headset {
  &:before {
    content: $sh-headset;
  }
}
.sh-mail {
  &:before {
    content: $sh-mail;
  }
}
.sh-mail-opened {
  &:before {
    content: $sh-mail-opened;
  }
}
.sh-message {
  &:before {
    content: $sh-message;
  }
}
.sh-message-circle {
  &:before {
    content: $sh-message-circle;
  }
}
.sh-message-dots {
  &:before {
    content: $sh-message-dots;
  }
}
.sh-messages {
  &:before {
    content: $sh-messages;
  }
}
.sh-message-tooltip {
  &:before {
    content: $sh-message-tooltip;
  }
}
.sh-microphone {
  &:before {
    content: $sh-microphone;
  }
}
.sh-phone {
  &:before {
    content: $sh-phone;
  }
}
.sh-phone-add {
  &:before {
    content: $sh-phone-add;
  }
}
.sh-phone-check {
  &:before {
    content: $sh-phone-check;
  }
}
.sh-phone-cross {
  &:before {
    content: $sh-phone-cross;
  }
}
.sh-phone-incoming {
  &:before {
    content: $sh-phone-incoming;
  }
}
.sh-phone-outgoing {
  &:before {
    content: $sh-phone-outgoing;
  }
}
.sh-phone-paused {
  &:before {
    content: $sh-phone-paused;
  }
}
.sh-phone-signal {
  &:before {
    content: $sh-phone-signal;
  }
}
.sh-clipboard {
  &:before {
    content: $sh-clipboard;
  }
}
.sh-clipboard-check {
  &:before {
    content: $sh-clipboard-check;
  }
}
.sh-clipboard-list {
  &:before {
    content: $sh-clipboard-list;
  }
}
.sh-clipboard-x {
  &:before {
    content: $sh-clipboard-x;
  }
}
.sh-file {
  &:before {
    content: $sh-file;
  }
}
.sh-file-check {
  &:before {
    content: $sh-file-check;
  }
}
.sh-file-code {
  &:before {
    content: $sh-file-code;
  }
}
.sh-file-download {
  &:before {
    content: $sh-file-download;
  }
}
.sh-file-horizontal {
  &:before {
    content: $sh-file-horizontal;
  }
}
.sh-file-invoice {
  &:before {
    content: $sh-file-invoice;
  }
}
.sh-file-minus {
  &:before {
    content: $sh-file-minus;
  }
}
.sh-file-music {
  &:before {
    content: $sh-file-music;
  }
}
.sh-file-plus {
  &:before {
    content: $sh-file-plus;
  }
}
.sh-file-shredder {
  &:before {
    content: $sh-file-shredder;
  }
}
.sh-file-text {
  &:before {
    content: $sh-file-text;
  }
}
.sh-file-x {
  &:before {
    content: $sh-file-x;
  }
}
.sh-folder {
  &:before {
    content: $sh-folder;
  }
}
.sh-folder-minus {
  &:before {
    content: $sh-folder-minus;
  }
}
.sh-folder-plus {
  &:before {
    content: $sh-folder-plus;
  }
}
.sh-folders {
  &:before {
    content: $sh-folders;
  }
}
.sh-folder-x {
  &:before {
    content: $sh-folder-x;
  }
}
.sh-movie {
  &:before {
    content: $sh-movie;
  }
}
.sh-music {
  &:before {
    content: $sh-music;
  }
}
.sh-news {
  &:before {
    content: $sh-news;
  }
}
.sh-note {
  &:before {
    content: $sh-note;
  }
}
.sh-notebook {
  &:before {
    content: $sh-notebook;
  }
}
.sh-notes {
  &:before {
    content: $sh-notes;
  }
}
.sh-photo {
  &:before {
    content: $sh-photo;
  }
}
.sh-arrow-back {
  &:before {
    content: $sh-arrow-back;
  }
}
.sh-arrow-back-up {
  &:before {
    content: $sh-arrow-back-up;
  }
}
.sh-arrow-bar-down {
  &:before {
    content: $sh-arrow-bar-down;
  }
}
.sh-arrow-bar-left {
  &:before {
    content: $sh-arrow-bar-left;
  }
}
.sh-arrow-bar-right {
  &:before {
    content: $sh-arrow-bar-right;
  }
}
.sh-arrow-bar-up {
  &:before {
    content: $sh-arrow-bar-up;
  }
}
.sh-arrow-down {
  &:before {
    content: $sh-arrow-down;
  }
}
.sh-arrow-down-circle {
  &:before {
    content: $sh-arrow-down-circle;
  }
}
.sh-arrow-down-left {
  &:before {
    content: $sh-arrow-down-left;
  }
}
.sh-arrow-down-left-circle {
  &:before {
    content: $sh-arrow-down-left-circle;
  }
}
.sh-arrow-down-right {
  &:before {
    content: $sh-arrow-down-right;
  }
}
.sh-arrow-down-right-circle {
  &:before {
    content: $sh-arrow-down-right-circle;
  }
}
.sh-arrow-forward {
  &:before {
    content: $sh-arrow-forward;
  }
}
.sh-arrow-forward-up {
  &:before {
    content: $sh-arrow-forward-up;
  }
}
.sh-arrow-left {
  &:before {
    content: $sh-arrow-left;
  }
}
.sh-arrow-left-circle {
  &:before {
    content: $sh-arrow-left-circle;
  }
}
.sh-arrow-narrow-down {
  &:before {
    content: $sh-arrow-narrow-down;
  }
}
.sh-arrow-narrow-left {
  &:before {
    content: $sh-arrow-narrow-left;
  }
}
.sh-arrow-narrow-right {
  &:before {
    content: $sh-arrow-narrow-right;
  }
}
.sh-arrow-narrow-up {
  &:before {
    content: $sh-arrow-narrow-up;
  }
}
.sh-arrow-right {
  &:before {
    content: $sh-arrow-right;
  }
}
.sh-arrow-right-circle {
  &:before {
    content: $sh-arrow-right-circle;
  }
}
.sh-arrows-diagonal {
  &:before {
    content: $sh-arrows-diagonal;
  }
}
.sh-arrows-diagonal-opposite {
  &:before {
    content: $sh-arrows-diagonal-opposite;
  }
}
.sh-arrows-horizontal {
  &:before {
    content: $sh-arrows-horizontal;
  }
}
.sh-arrows-maximize {
  &:before {
    content: $sh-arrows-maximize;
  }
}
.sh-arrows-minimize {
  &:before {
    content: $sh-arrows-minimize;
  }
}
.sh-arrows-sort {
  &:before {
    content: $sh-arrows-sort;
  }
}
.sh-arrows-vertical {
  &:before {
    content: $sh-arrows-vertical;
  }
}
.sh-arrow-up {
  &:before {
    content: $sh-arrow-up;
  }
}
.sh-arrow-up-circle {
  &:before {
    content: $sh-arrow-up-circle;
  }
}
.sh-arrow-up-left {
  &:before {
    content: $sh-arrow-up-left;
  }
}
.sh-arrow-up-left-circle {
  &:before {
    content: $sh-arrow-up-left-circle;
  }
}
.sh-arrow-up-right {
  &:before {
    content: $sh-arrow-up-right;
  }
}
.sh-arrow-up-right-circle {
  &:before {
    content: $sh-arrow-up-right-circle;
  }
}
.sh-caret-down {
  &:before {
    content: $sh-caret-down;
  }
}
.sh-caret-down-fill {
  &:before {
    content: $sh-caret-down-fill;
  }
}
.sh-caret-left {
  &:before {
    content: $sh-caret-left;
  }
}
.sh-caret-left-fill {
  &:before {
    content: $sh-caret-left-fill;
  }
}
.sh-caret-right {
  &:before {
    content: $sh-caret-right;
  }
}
.sh-caret-right-fill {
  &:before {
    content: $sh-caret-right-fill;
  }
}
.sh-caret-up {
  &:before {
    content: $sh-caret-up;
  }
}
.sh-caret-up-fill {
  &:before {
    content: $sh-caret-up-fill;
  }
}
.sh-chevron-down {
  &:before {
    content: $sh-chevron-down;
  }
}
.sh-chevron-left {
  &:before {
    content: $sh-chevron-left;
  }
}
.sh-chevron-right {
  &:before {
    content: $sh-chevron-right;
  }
}
.sh-chevrons-down {
  &:before {
    content: $sh-chevrons-down;
  }
}
.sh-chevrons-left {
  &:before {
    content: $sh-chevrons-left;
  }
}
.sh-chevrons-right {
  &:before {
    content: $sh-chevrons-right;
  }
}
.sh-chevrons-up {
  &:before {
    content: $sh-chevrons-up;
  }
}
.sh-chevron-up {
  &:before {
    content: $sh-chevron-up;
  }
}
.sh-compass {
  &:before {
    content: $sh-compass;
  }
}
.sh-corner-down-left {
  &:before {
    content: $sh-corner-down-left;
  }
}
.sh-corner-down-right {
  &:before {
    content: $sh-corner-down-right;
  }
}
.sh-corner-left-down {
  &:before {
    content: $sh-corner-left-down;
  }
}
.sh-corner-left-up {
  &:before {
    content: $sh-corner-left-up;
  }
}
.sh-corner-right-down {
  &:before {
    content: $sh-corner-right-down;
  }
}
.sh-corner-right-up {
  &:before {
    content: $sh-corner-right-up;
  }
}
.sh-corner-up-left {
  &:before {
    content: $sh-corner-up-left;
  }
}
.sh-corner-up-right {
  &:before {
    content: $sh-corner-up-right;
  }
}
.sh-direction-horizontal {
  &:before {
    content: $sh-direction-horizontal;
  }
}
.sh-directions {
  &:before {
    content: $sh-directions;
  }
}
.sh-direction-vertical {
  &:before {
    content: $sh-direction-vertical;
  }
}
.sh-drag {
  &:before {
    content: $sh-drag;
  }
}
.sh-drag-drop {
  &:before {
    content: $sh-drag-drop;
  }
}
.sh-exchange {
  &:before {
    content: $sh-exchange;
  }
}
.sh-location {
  &:before {
    content: $sh-location;
  }
}
.sh-map {
  &:before {
    content: $sh-map;
  }
}
.sh-map-pin {
  &:before {
    content: $sh-map-pin;
  }
}
.sh-map-with-pin {
  &:before {
    content: $sh-map-with-pin;
  }
}
.sh-recycle {
  &:before {
    content: $sh-recycle;
  }
}
.sh-refresh {
  &:before {
    content: $sh-refresh;
  }
}
.sh-repeat {
  &:before {
    content: $sh-repeat;
  }
}
.sh-repeat-once {
  &:before {
    content: $sh-repeat-once;
  }
}
.sh-replace {
  &:before {
    content: $sh-replace;
  }
}
.sh-rotate {
  &:before {
    content: $sh-rotate;
  }
}
.sh-rotate-anticlockwise-dots {
  &:before {
    content: $sh-rotate-anticlockwise-dots;
  }
}
.sh-rotate-clockwise {
  &:before {
    content: $sh-rotate-clockwise;
  }
}
.sh-rotate-clockwise-dots {
  &:before {
    content: $sh-rotate-clockwise-dots;
  }
}
.sh-rotate-rectangle {
  &:before {
    content: $sh-rotate-rectangle;
  }
}
.sh-selector {
  &:before {
    content: $sh-selector;
  }
}
.sh-switch {
  &:before {
    content: $sh-switch;
  }
}
.sh-switch-horizontal {
  &:before {
    content: $sh-switch-horizontal;
  }
}
.sh-switch-vertical {
  &:before {
    content: $sh-switch-vertical;
  }
}
.sh-trending-down {
  &:before {
    content: $sh-trending-down;
  }
}
.sh-trending-up {
  &:before {
    content: $sh-trending-up;
  }
}
.sh-adjustments {
  &:before {
    content: $sh-adjustments;
  }
}
.sh-alert-circle {
  &:before {
    content: $sh-alert-circle;
  }
}
.sh-alert-triangle {
  &:before {
    content: $sh-alert-triangle;
  }
}
.sh-bell {
  &:before {
    content: $sh-bell;
  }
}
.sh-bolt {
  &:before {
    content: $sh-bolt;
  }
}
.sh-book {
  &:before {
    content: $sh-book;
  }
}
.sh-bookmark {
  &:before {
    content: $sh-bookmark;
  }
}
.sh-browser {
  &:before {
    content: $sh-browser;
  }
}
.sh-cash {
  &:before {
    content: $sh-cash;
  }
}
.sh-chart-area {
  &:before {
    content: $sh-chart-area;
  }
}
.sh-chart-area-line {
  &:before {
    content: $sh-chart-area-line;
  }
}
.sh-chart-bar {
  &:before {
    content: $sh-chart-bar;
  }
}
.sh-chart-donut {
  &:before {
    content: $sh-chart-donut;
  }
}
.sh-chart-line {
  &:before {
    content: $sh-chart-line;
  }
}
.sh-chart-pie {
  &:before {
    content: $sh-chart-pie;
  }
}
.sh-check {
  &:before {
    content: $sh-check;
  }
}
.sh-checkbox {
  &:before {
    content: $sh-checkbox;
  }
}
.sh-checks {
  &:before {
    content: $sh-checks;
  }
}
.sh-circle {
  &:before {
    content: $sh-circle;
  }
}
.sh-circle-check {
  &:before {
    content: $sh-circle-check;
  }
}
.sh-circle-minus {
  &:before {
    content: $sh-circle-minus;
  }
}
.sh-circle-plus {
  &:before {
    content: $sh-circle-plus;
  }
}
.sh-circle-x {
  &:before {
    content: $sh-circle-x;
  }
}
.sh-coin {
  &:before {
    content: $sh-coin;
  }
}
.sh-copy {
  &:before {
    content: $sh-copy;
  }
}
.sh-copyright {
  &:before {
    content: $sh-copyright;
  }
}
.sh-credit-card {
  &:before {
    content: $sh-credit-card;
  }
}
.sh-cross {
  &:before {
    content: $sh-cross;
  }
}
.sh-discount {
  &:before {
    content: $sh-discount;
  }
}
.sh-dislike {
  &:before {
    content: $sh-dislike;
  }
}
.sh-dots {
  &:before {
    content: $sh-dots;
  }
}
.sh-dots-circle-horizontal {
  &:before {
    content: $sh-dots-circle-horizontal;
  }
}
.sh-dots-diagonal {
  &:before {
    content: $sh-dots-diagonal;
  }
}
.sh-dots-diagonal-opposite {
  &:before {
    content: $sh-dots-diagonal-opposite;
  }
}
.sh-dots-vertical {
  &:before {
    content: $sh-dots-vertical;
  }
}
.sh-edit {
  &:before {
    content: $sh-edit;
  }
}
.sh-eye {
  &:before {
    content: $sh-eye;
  }
}
.sh-filter {
  &:before {
    content: $sh-filter;
  }
}
.sh-flag {
  &:before {
    content: $sh-flag;
  }
}
.sh-focus1 {
  &:before {
    content: $sh-focus1;
  }
}
.sh-forbid {
  &:before {
    content: $sh-forbid;
  }
}
.sh-gift {
  &:before {
    content: $sh-gift;
  }
}
.sh-hash {
  &:before {
    content: $sh-hash;
  }
}
.sh-heart {
  &:before {
    content: $sh-heart;
  }
}
.sh-help {
  &:before {
    content: $sh-help;
  }
}
.sh-hexagon {
  &:before {
    content: $sh-hexagon;
  }
}
.sh-hide {
  &:before {
    content: $sh-hide;
  }
}
.sh-home {
  &:before {
    content: $sh-home;
  }
}
.sh-home-square {
  &:before {
    content: $sh-home-square;
  }
}
.sh-id {
  &:before {
    content: $sh-id;
  }
}
.sh-infinity {
  &:before {
    content: $sh-infinity;
  }
}
.sh-info-circle {
  &:before {
    content: $sh-info-circle;
  }
}
.sh-info-square {
  &:before {
    content: $sh-info-square;
  }
}
.sh-like {
  &:before {
    content: $sh-like;
  }
}
.sh-paperclip {
  &:before {
    content: $sh-paperclip;
  }
}
.sh-pencil {
  &:before {
    content: $sh-pencil;
  }
}
.sh-plus {
  &:before {
    content: $sh-plus;
  }
}
.sh-registered {
  &:before {
    content: $sh-registered;
  }
}
.sh-scissors {
  &:before {
    content: $sh-scissors;
  }
}
.sh-search {
  &:before {
    content: $sh-search;
  }
}
.sh-servicemark {
  &:before {
    content: $sh-servicemark;
  }
}
.sh-share {
  &:before {
    content: $sh-share;
  }
}
.sh-square {
  &:before {
    content: $sh-square;
  }
}
.sh-star-outline {
  &:before {
    content: $sh-star-outline;
  }
}
.sh-star_filled {
  &:before {
    content: $sh-star_filled;
  }
}
.sh-tag {
  &:before {
    content: $sh-tag;
  }
}
.sh-target {
  &:before {
    content: $sh-target;
  }
}
.sh-tax {
  &:before {
    content: $sh-tax;
  }
}
.sh-ticket {
  &:before {
    content: $sh-ticket;
  }
}
.sh-toggle-left {
  &:before {
    content: $sh-toggle-left;
  }
}
.sh-toggle-right {
  &:before {
    content: $sh-toggle-right;
  }
}
.sh-trademark {
  &:before {
    content: $sh-trademark;
  }
}
.sh-trash {
  &:before {
    content: $sh-trash;
  }
}
.sh-triangle {
  &:before {
    content: $sh-triangle;
  }
}
