$icomoon-font-family: 'SalesHandy' !default;
$icomoon-font-path: '../fonts' !default;

$sh-apps: '\eb29';
$sh-grid: '\eb2a';
$sh-grid-dots: '\eb2b';
$sh-layout: '\eb2c';
$sh-layout-align-bottom: '\eb2d';
$sh-layout-align-center: '\eb2e';
$sh-layout-align-left: '\eb2f';
$sh-layout-align-middle: '\eb30';
$sh-layout-align-right: '\eb31';
$sh-layout-align-top: '\eb32';
$sh-layout-bottombar: '\eb33';
$sh-layout-cards: '\eb34';
$sh-layout-columns: '\eb35';
$sh-layout-distribute-horizontal: '\eb36';
$sh-layout-distribute-vertical: '\eb37';
$sh-layout-list: '\eb38';
$sh-layout-navbar: '\eb39';
$sh-layout-rows: '\eb3a';
$sh-layout-sidebar-left: '\eb3b';
$sh-layout-sidebar-right: '\eb3c';
$sh-layout-square: '\eb3d';
$sh-layout-table: '\eb3e';
$sh-viewport-narrow: '\eb3f';
$sh-viewport-wide: '\eb40';
$sh-ambulance: '\e900';
$sh-bike: '\e901';
$sh-building: '\e902';
$sh-building-arch: '\e903';
$sh-building-bank: '\e904';
$sh-building-bridge: '\e905';
$sh-building-church: '\e906';
$sh-building-community: '\e907';
$sh-building-hospital: '\e908';
$sh-building-pavilon: '\e909';
$sh-building-rope-bridge: '\e90a';
$sh-building-skyscrappers: '\e90b';
$sh-building-store: '\e90c';
$sh-building-warehouse: '\e90d';
$sh-bus: '\e90e';
$sh-car: '\e90f';
$sh-firetruck: '\e910';
$sh-forklift: '\e911';
$sh-plane: '\e912';
$sh-plane-arrival: '\e913';
$sh-plane-departure: '\e914';
$sh-tir: '\e915';
$sh-tractor: '\e916';
$sh-truck: '\e917';
$sh-disabled: '\e918';
$sh-friends: '\e919';
$sh-man: '\e91a';
$sh-user: '\e91b';
$sh-user-check: '\e91c';
$sh-user-exclamation: '\e91d';
$sh-user-list: '\e91e';
$sh-user-minus: '\e91f';
$sh-user-plus: '\e920';
$sh-users: '\e921';
$sh-user-x: '\e922';
$sh-woman: '\e923';
$sh-mood-confuzed: '\e924';
$sh-mood-happy: '\e925';
$sh-mood-kid: '\e926';
$sh-mood-neutral: '\e927';
$sh-mood-sad: '\e928';
$sh-mood-smile: '\e929';
$sh-mood-suprised: '\e92a';
$sh-mood-tongue: '\e92b';
$sh-volume-high: '\e92c';
$sh-volume-low: '\e92d';
$sh-volume-mute: '\e92e';
$sh-alarm: '\e92f';
$sh-calendar: '\e930';
$sh-calendar-event: '\e931';
$sh-calendar-minus: '\e932';
$sh-calendar-plus: '\e933';
$sh-clock: '\e934';
$sh-history: '\e935';
$sh-accessible: '\e936';
$sh-ad: '\e937';
$sh-alien: '\e938';
$sh-anchor: '\e939';
$sh-aperture: '\e93a';
$sh-atom: '\e93b';
$sh-atom-circle: '\e93c';
$sh-award: '\e93d';
$sh-backspace: '\e93e';
$sh-ban: '\e93f';
$sh-bandage: '\e940';
$sh-basket: '\e941';
$sh-basketball: '\e942';
$sh-bed: '\e943';
$sh-bowling: '\e944';
$sh-box: '\e945';
$sh-bucket: '\e946';
$sh-currency-bitcoin: '\e947';
$sh-currency-dollar: '\e948';
$sh-currency-euro: '\e949';
$sh-currency-pound: '\e94a';
$sh-currency-rupee: '\e94b';
$sh-currency-yen: '\e94c';
$sh-cut: '\e94d';
$sh-diamond: '\e94e';
$sh-dice: '\e94f';
$sh-droplet: '\e950';
$sh-ear: '\e951';
$sh-egg: '\e952';
$sh-fingerprint: '\e953';
$sh-flask: '\e954';
$sh-gauge: '\e955';
$sh-ghost: '\e956';
$sh-glass-empty: '\e957';
$sh-glass-full: '\e958';
$sh-globe: '\e959';
$sh-hand-middle-finger: '\e95a';
$sh-hand-stop: '\e95b';
$sh-ice-cream: '\e95c';
$sh-key: '\e95d';
$sh-language: '\e95e';
$sh-lego: '\e95f';
$sh-lifebuoy: '\e960';
$sh-magnet: '\e961';
$sh-moon: '\e962';
$sh-mug: '\e963';
$sh-omega: '\e964';
$sh-outlet: '\e965';
$sh-package: '\e966';
$sh-parking: '\e967';
$sh-pillow: '\e968';
$sh-planet: '\e969';
$sh-puzzle: '\e96a';
$sh-scale: '\e96b';
$sh-shirt: '\e96c';
$sh-shopping-cart: '\e96d';
$sh-slice: '\e96e';
$sh-snowflake: '\e96f';
$sh-sticker: '\e970';
$sh-sun: '\e971';
$sh-temperature: '\e972';
$sh-temperature-celsius: '\e973';
$sh-temperature-fahrenheit: '\e974';
$sh-temperature-minus: '\e975';
$sh-temperature-plus: '\e976';
$sh-tennis: '\e977';
$sh-test-pipe: '\e978';
$sh-traffic-cone: '\e979';
$sh-trees: '\e97a';
$sh-trophy: '\e97b';
$sh-umbrella: '\e97c';
$sh-urgent: '\e97d';
$sh-viewfinder: '\e97e';
$sh-virus: '\e97f';
$sh-volleyball: '\e980';
$sh-wallet: '\e981';
$sh-wand: '\e982';
$sh-wind: '\e983';
$sh-yin-yang: '\e984';
$sh-activity: '\e985';
$sh-archive: '\e986';
$sh-barcode: '\e987';
$sh-bluetooth: '\e988';
$sh-briefcase: '\e989';
$sh-bug: '\e98a';
$sh-cast: '\e98b';
$sh-chart-candle: '\e98c';
$sh-click: '\e98d';
$sh-cloud: '\e98e';
$sh-cloud-download: '\e98f';
$sh-cloud-rain: '\e990';
$sh-cloud-snow: '\e991';
$sh-cloud-storm: '\e992';
$sh-cloud-upload: '\e993';
$sh-command: '\e994';
$sh-dashboard: '\e995';
$sh-database: '\e996';
$sh-disc: '\e997';
$sh-download: '\e998';
$sh-exposure: '\e999';
$sh-external-link: '\e99a';
$sh-face-id: '\e99b';
$sh-focus: '\e99c';
$sh-grip-horizontal: '\e99d';
$sh-grip-vertical: '\e99e';
$sh-inbox: '\e99f';
$sh-keyboard: '\e9a0';
$sh-live-photo: '\e9a1';
$sh-lock: '\e9a2';
$sh-lock-open: '\e9a3';
$sh-login: '\e9a4';
$sh-logout: '\e9a5';
$sh-menu: '\e9a6';
$sh-notification: '\e9a7';
$sh-power: '\e9a8';
$sh-presentation: '\e9a9';
$sh-qrcode: '\e9aa';
$sh-record-mail: '\e9ab';
$sh-scan: '\e9ac';
$sh-send: '\e9ad';
$sh-server: '\e9ae';
$sh-shield: '\e9af';
$sh-shield-check: '\e9b0';
$sh-shield-x: '\e9b1';
$sh-sitemap: '\e9b2';
$sh-slideshow: '\e9b3';
$sh-stack: '\e9b4';
$sh-tool: '\e9b5';
$sh-tools: '\e9b6';
$sh-upload: '\e9b7';
$sh-align-center: '\e9b8';
$sh-align-justified: '\e9b9';
$sh-align-left: '\e9ba';
$sh-align-right: '\e9bb';
$sh-artboard: '\e9bc';
$sh-at: '\e9bd';
$sh-bold: '\e9be';
$sh-border-all: '\e9bf';
$sh-border-bottom: '\e9c0';
$sh-border-horizontal: '\e9c1';
$sh-border-inner: '\e9c2';
$sh-border-left: '\e9c3';
$sh-border-none: '\e9c4';
$sh-border-outer: '\e9c5';
$sh-border-radius: '\e9c6';
$sh-border-right: '\e9c7';
$sh-border-top: '\e9c8';
$sh-border-vertical: '\e9c9';
$sh-braces: '\e9ca';
$sh-brackets: '\e9cb';
$sh-brightness: '\e9cc';
$sh-brightness-down: '\e9cd';
$sh-brightness-up: '\e9ce';
$sh-brush: '\e9cf';
$sh-bulb: '\e9d0';
$sh-bulb-off: '\e9d1';
$sh-bullet: '\e9d2';
$sh-checklist: '\e9d3';
$sh-clear-formatting: '\e9d4';
$sh-code: '\e9d5';
$sh-color-picker: '\e9d6';
$sh-color-swatch: '\e9d7';
$sh-columns: '\e9d8';
$sh-crop: '\e9d9';
$sh-eraser: '\e9da';
$sh-flip-horizontal: '\e9db';
$sh-flip-vertical: '\e9dc';
$sh-float-center: '\e9dd';
$sh-float-left: '\e9de';
$sh-float-right: '\e9df';
$sh-frame: '\e9e0';
$sh-indent-decrease: '\e9e1';
$sh-indent-increase: '\e9e2';
$sh-italic: '\e9e3';
$sh-layers-difference: '\e9e4';
$sh-layers-intersect: '\e9e5';
$sh-layers-subtract: '\e9e6';
$sh-layers-union: '\e9e7';
$sh-letter-case: '\e9e8';
$sh-line-height: '\e9e9';
$sh-link: '\e9ea';
$sh-math: '\e9eb';
$sh-maximize: '\e9ec';
$sh-minimize: '\e9ed';
$sh-minus: '\e9ee';
$sh-mist: '\e9ef';
$sh-new-section: '\e9f0';
$sh-paint: '\e9f1';
$sh-palette: '\e9f2';
$sh-parentheses: '\e9f3';
$sh-point: '\e9f4';
$sh-prompt: '\e9f5';
$sh-ruler: '\e9f6';
$sh-separator: '\e9f7';
$sh-shape: '\e9f8';
$sh-sort-ascending: '\e9f9';
$sh-sort-descending: '\e9fa';
$sh-space: '\e9fb';
$sh-strikethrough: '\e9fc';
$sh-subscript: '\e9fd';
$sh-sum: '\e9fe';
$sh-sunset: '\e9ff';
$sh-sunshine: '\ea00';
$sh-superscript: '\ea01';
$sh-table: '\ea02';
$sh-template: '\ea03';
$sh-terminal: '\ea04';
$sh-terminal-code: '\ea05';
$sh-text_color: '\ea06';
$sh-text_highlight: '\ea07';
$sh-text-wrap: '\ea08';
$sh-typography: '\ea09';
$sh-underline: '\ea0a';
$sh-unlink: '\ea0b';
$sh-zoom-in: '\ea0c';
$sh-zoom-out: '\ea0d';
$sh-android: '\ea0e';
$sh-apple: '\ea0f';
$sh-brand-github: '\ea10';
$sh-brand-gitlab: '\ea11';
$sh-brand-google: '\ea12';
$sh-brand-google-drive: '\ea13';
$sh-brand-instagram: '\ea14';
$sh-brand-opera: '\ea15';
$sh-brand-paypal: '\ea16';
$sh-brand-safari: '\ea17';
$sh-brand-sketch: '\ea18';
$sh-brand-snapchat: '\ea19';
$sh-brand-telegram: '\ea1a';
$sh-brand-twitter: '\ea1b';
$sh-chrome: '\ea1c';
$sh-dribbble: '\ea1d';
$sh-dropbox: '\ea1e';
$sh-facebook: '\ea1f';
$sh-facebook-bw: '\ea20';
$sh-facebook-color-path1: '\ea21';
$sh-facebook-color-path2: '\ea22';
$sh-facebook-old: '\ea23';
$sh-framer: '\ea24';
$sh-gmail-color: '\ea25';
$sh-google-drive: '\ea26';
$sh-google-new: '\ea27';
$sh-google-plus: '\ea28';
$sh-linkedin-bw: '\ea29';
$sh-linkedin-color-path1: '\ea2a';
$sh-linkedin-color-path2: '\ea2b';
$sh-linkedin-color-path3: '\ea2c';
$sh-linkedin-color-path4: '\ea2d';
$sh-microsoft-color: '\ea2e';
$sh-outlook-color: '\ea2f';
$sh-twitter-bw: '\ea30';
$sh-twitter-color: '\ea31';
$sh-youtube-bw: '\ea32';
$sh-youtube-color-path1: '\ea33';
$sh-youtube-color-path2: '\ea34';
$sh-battery-10: '\ea35';
$sh-battery-20: '\ea36';
$sh-battery-charging: '\ea37';
$sh-battery-empty: '\ea38';
$sh-battery-full: '\ea39';
$sh-battery-half: '\ea3a';
$sh-calculator: '\ea3b';
$sh-camera: '\ea3c';
$sh-device-desktop: '\ea3d';
$sh-device-floppy: '\ea3e';
$sh-device-gamepad: '\ea3f';
$sh-device-laptop: '\ea40';
$sh-device-mobile: '\ea41';
$sh-device-mobile-vibration: '\ea42';
$sh-devices: '\ea43';
$sh-device-speaker: '\ea44';
$sh-device-tablet: '\ea45';
$sh-device-tv: '\ea46';
$sh-device-watch: '\ea47';
$sh-floppy-disk: '\ea48';
$sh-git-branch: '\ea49';
$sh-git-commit: '\ea4a';
$sh-git-compare: '\ea4b';
$sh-git-fork: '\ea4c';
$sh-git-merge: '\ea4d';
$sh-git-pull-request: '\ea4e';
$sh-mouse: '\ea4f';
$sh-plug: '\ea50';
$sh-printer: '\ea51';
$sh-route: '\ea52';
$sh-router: '\ea53';
$sh-rss: '\ea54';
$sh-social: '\ea55';
$sh-wifi: '\ea56';
$sh-wifi-2: '\ea57';
$sh-wifi-3: '\ea58';
$sh-wifi-low-signal: '\ea59';
$sh-world: '\ea5a';
$sh-headphones: '\ea5b';
$sh-headset: '\ea5c';
$sh-mail: '\ea5d';
$sh-mail-opened: '\ea5e';
$sh-message: '\ea5f';
$sh-message-circle: '\ea60';
$sh-message-dots: '\ea61';
$sh-messages: '\ea62';
$sh-message-tooltip: '\ea63';
$sh-microphone: '\ea64';
$sh-phone: '\ea65';
$sh-phone-add: '\ea66';
$sh-phone-check: '\ea67';
$sh-phone-cross: '\ea68';
$sh-phone-incoming: '\ea69';
$sh-phone-outgoing: '\ea6a';
$sh-phone-paused: '\ea6b';
$sh-phone-signal: '\ea6c';
$sh-clipboard: '\ea6d';
$sh-clipboard-check: '\ea6e';
$sh-clipboard-list: '\ea6f';
$sh-clipboard-x: '\ea70';
$sh-file: '\ea71';
$sh-file-check: '\ea72';
$sh-file-code: '\ea73';
$sh-file-download: '\ea74';
$sh-file-horizontal: '\ea75';
$sh-file-invoice: '\ea76';
$sh-file-minus: '\ea77';
$sh-file-music: '\ea78';
$sh-file-plus: '\ea79';
$sh-file-shredder: '\ea7a';
$sh-file-text: '\ea7b';
$sh-file-x: '\ea7c';
$sh-folder: '\ea7d';
$sh-folder-minus: '\ea7e';
$sh-folder-plus: '\ea7f';
$sh-folders: '\ea80';
$sh-folder-x: '\ea81';
$sh-movie: '\ea82';
$sh-music: '\ea83';
$sh-news: '\ea84';
$sh-note: '\ea85';
$sh-notebook: '\ea86';
$sh-notes: '\ea87';
$sh-photo: '\ea88';
$sh-arrow-back: '\ea89';
$sh-arrow-back-up: '\ea8a';
$sh-arrow-bar-down: '\ea8b';
$sh-arrow-bar-left: '\ea8c';
$sh-arrow-bar-right: '\ea8d';
$sh-arrow-bar-up: '\ea8e';
$sh-arrow-down: '\ea8f';
$sh-arrow-down-circle: '\ea90';
$sh-arrow-down-left: '\ea91';
$sh-arrow-down-left-circle: '\ea92';
$sh-arrow-down-right: '\ea93';
$sh-arrow-down-right-circle: '\ea94';
$sh-arrow-forward: '\ea95';
$sh-arrow-forward-up: '\ea96';
$sh-arrow-left: '\ea97';
$sh-arrow-left-circle: '\ea98';
$sh-arrow-narrow-down: '\ea99';
$sh-arrow-narrow-left: '\ea9a';
$sh-arrow-narrow-right: '\ea9b';
$sh-arrow-narrow-up: '\ea9c';
$sh-arrow-right: '\ea9d';
$sh-arrow-right-circle: '\ea9e';
$sh-arrows-diagonal: '\ea9f';
$sh-arrows-diagonal-opposite: '\eaa0';
$sh-arrows-horizontal: '\eaa1';
$sh-arrows-maximize: '\eaa2';
$sh-arrows-minimize: '\eaa3';
$sh-arrows-sort: '\eaa4';
$sh-arrows-vertical: '\eaa5';
$sh-arrow-up: '\eaa6';
$sh-arrow-up-circle: '\eaa7';
$sh-arrow-up-left: '\eaa8';
$sh-arrow-up-left-circle: '\eaa9';
$sh-arrow-up-right: '\eaaa';
$sh-arrow-up-right-circle: '\eaab';
$sh-caret-down: '\eaac';
$sh-caret-down-fill: '\eaad';
$sh-caret-left: '\eaae';
$sh-caret-left-fill: '\eaaf';
$sh-caret-right: '\eab0';
$sh-caret-right-fill: '\eab1';
$sh-caret-up: '\eab2';
$sh-caret-up-fill: '\eab3';
$sh-chevron-down: '\eab4';
$sh-chevron-left: '\eab5';
$sh-chevron-right: '\eab6';
$sh-chevrons-down: '\eab7';
$sh-chevrons-left: '\eab8';
$sh-chevrons-right: '\eab9';
$sh-chevrons-up: '\eaba';
$sh-chevron-up: '\eabb';
$sh-compass: '\eabc';
$sh-corner-down-left: '\eabd';
$sh-corner-down-right: '\eabe';
$sh-corner-left-down: '\eabf';
$sh-corner-left-up: '\eac0';
$sh-corner-right-down: '\eac1';
$sh-corner-right-up: '\eac2';
$sh-corner-up-left: '\eac3';
$sh-corner-up-right: '\eac4';
$sh-direction-horizontal: '\eac5';
$sh-directions: '\eac6';
$sh-direction-vertical: '\eac7';
$sh-drag: '\eac8';
$sh-drag-drop: '\eac9';
$sh-exchange: '\eaca';
$sh-location: '\eacb';
$sh-map: '\eacc';
$sh-map-pin: '\eacd';
$sh-map-with-pin: '\eace';
$sh-recycle: '\eacf';
$sh-refresh: '\ead0';
$sh-repeat: '\ead1';
$sh-repeat-once: '\ead2';
$sh-replace: '\ead3';
$sh-rotate: '\ead4';
$sh-rotate-anticlockwise-dots: '\ead5';
$sh-rotate-clockwise: '\ead6';
$sh-rotate-clockwise-dots: '\ead7';
$sh-rotate-rectangle: '\ead8';
$sh-selector: '\ead9';
$sh-switch: '\eada';
$sh-switch-horizontal: '\eadb';
$sh-switch-vertical: '\eadc';
$sh-trending-down: '\eadd';
$sh-trending-up: '\eade';
$sh-adjustments: '\eadf';
$sh-alert-circle: '\eae0';
$sh-alert-triangle: '\eae1';
$sh-bell: '\eae2';
$sh-bolt: '\eae3';
$sh-book: '\eae4';
$sh-bookmark: '\eae5';
$sh-browser: '\eae6';
$sh-cash: '\eae7';
$sh-chart-area: '\eae8';
$sh-chart-area-line: '\eae9';
$sh-chart-bar: '\eaea';
$sh-chart-donut: '\eaeb';
$sh-chart-line: '\eaec';
$sh-chart-pie: '\eaed';
$sh-check: '\eaee';
$sh-checkbox: '\eaef';
$sh-checks: '\eaf0';
$sh-circle: '\eaf1';
$sh-circle-check: '\eaf2';
$sh-circle-minus: '\eaf3';
$sh-circle-plus: '\eaf4';
$sh-circle-x: '\eaf5';
$sh-coin: '\eaf6';
$sh-copy: '\eaf7';
$sh-copyright: '\eaf8';
$sh-credit-card: '\eaf9';
$sh-cross: '\eafa';
$sh-discount: '\eafb';
$sh-dislike: '\eafc';
$sh-dots: '\eafd';
$sh-dots-circle-horizontal: '\eafe';
$sh-dots-diagonal: '\eaff';
$sh-dots-diagonal-opposite: '\eb00';
$sh-dots-vertical: '\eb01';
$sh-edit: '\eb02';
$sh-eye: '\eb03';
$sh-filter: '\eb04';
$sh-flag: '\eb05';
$sh-focus1: '\eb06';
$sh-forbid: '\eb07';
$sh-gift: '\eb08';
$sh-hash: '\eb09';
$sh-heart: '\eb0a';
$sh-help: '\eb0b';
$sh-hexagon: '\eb0c';
$sh-hide: '\eb0d';
$sh-home: '\eb0e';
$sh-home-square: '\eb0f';
$sh-id: '\eb10';
$sh-infinity: '\eb11';
$sh-info-circle: '\eb12';
$sh-info-square: '\eb13';
$sh-like: '\eb14';
$sh-paperclip: '\eb15';
$sh-pencil: '\eb16';
$sh-plus: '\eb17';
$sh-registered: '\eb18';
$sh-scissors: '\eb19';
$sh-search: '\eb1a';
$sh-servicemark: '\eb1b';
$sh-share: '\eb1c';
$sh-square: '\eb1d';
$sh-star-outline: '\eb1e';
$sh-star_filled: '\eb1f';
$sh-tag: '\eb20';
$sh-target: '\eb21';
$sh-tax: '\eb22';
$sh-ticket: '\eb23';
$sh-toggle-left: '\eb24';
$sh-toggle-right: '\eb25';
$sh-trademark: '\eb26';
$sh-trash: '\eb27';
$sh-triangle: '\eb28';
