.progress-bar-wrapper {
  height: 0.3125rem;
  position: relative;
  overflow: hidden;
  border-radius: 1.875rem;
  background-color: $gray-200;

  span {
    display: block;
    height: 100%;
  }

  &__bar {
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode: both;
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode: both;
  }

  @keyframes progressBar {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @-webkit-keyframes progressBar {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @-moz-keyframes progressBar {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}
