.shd-search-input {
  border: 0.0625rem solid $gray-300;
  width: 13.5rem;
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.25rem;
  height: 2rem;

  &--bg-light {
    background-color: $white;
  }

  &--bg-gray .input input {
    background-color: $gray-50;
    &:focus-within {
      background-color: $white;
    }
  }

  &--bg-gray {
    background-color: $gray-50;
    &:focus-within {
      background-color: $white;
    }
  }

  &:hover {
    border-color: $blue-700;
    outline-color: $blue-700;
  }
  &:active {
    border-color: $blue-700;
    outline-color: $blue-700;
  }
  &:focus {
    border: 0px;
    border-color: $blue-700;
    outline-color: $blue-700;
    cursor: text;
  }

  .search-icon {
    color: $gray-400;
    display: flex;
  }

  .input {
    outline: none;
    padding-left: 0.3125rem;
    border: none;
    line-height: 0rem;

    &:focus-visible {
      border: 0rem;
      outline: none;
    }
    .input:focus {
      outline: none;
    }
  }
  input {
    border: none;

    &:focus-visible {
      border: 0rem;
      outline: none;
    }
    .input:focus {
      outline: none;
    }
  }
}
.cross-icon {
  display: flex;
  color: $gray-400;
  cursor: pointer;
}
